/* 
    This is a template file that will have css variables injected into it to avoid having vuejs style bindings on every word.
*/

.sample-text {
    .word {
        box-sizing: border-box;

        @for $wordLevel from -7 through 2 {
            &[stage="#{$wordLevel}"] {
                // text color
                color: var(--interactive-text-level#{$wordLevel}-color);
                background-color: var(--interactive-text-level#{$wordLevel}-background-color);
                
                // border
                border-width: var(--interactive-text-level#{$wordLevel}-border-width);
                border-top-width: var(--interactive-text-level#{$wordLevel}-border-top);
                border-bottom-width: var(--interactive-text-level#{$wordLevel}-border-bottom);
                border-left-width: var(--interactive-text-level#{$wordLevel}-border-left);
                border-right-width: var(--interactive-text-level#{$wordLevel}-border-right);
                border-color: var(--interactive-text-level#{$wordLevel}-border-color);
                border-style: var(--interactive-text-level#{$wordLevel}-border-style);
                border-radius: var(--interactive-text-level#{$wordLevel}-border-radius);
                border-top-width: var(--interactive-text-level#{$wordLevel}-border-top-width);
                border-bottom-width: var(--interactive-text-level#{$wordLevel}-border-bottom-width);
                border-left-width: var(--interactive-text-level#{$wordLevel}-border-left-width);
                border-right-width: var(--interactive-text-level#{$wordLevel}-border-right-width);

                // padding for size consistency with 1px max border
                padding-top: var(--interactive-text-level#{$wordLevel}-padding-top);
                padding-bottom: var(--interactive-text-level#{$wordLevel}-padding-bottom);
                padding-left: var(--interactive-text-level#{$wordLevel}-padding-left);
                padding-right: var(--interactive-text-level#{$wordLevel}-padding-right);

                // font styling
                font-weight: var(--interactive-text-level#{$wordLevel}-weight);
                font-style: var(--interactive-text-level#{$wordLevel}-style);
                
                // wavy underline
                text-decoration: var(--interactive-text-level#{$wordLevel}-text-decoration) var(--interactive-text-level#{$wordLevel}-border-color) wavy var(--interactive-text-level#{$wordLevel}-border-width);
                text-decoration-skip-ink: none;
            }

            &.space-after {
                margin-right: 4px;
            }
        }
    }
}