/* 
    This is a template file that will have css variables injected into it to avoid having vuejs style bindings on every word.
*/

.sample-text {
    .word {
        box-sizing: border-box;

        // text color
        color: var(--interactive-text-color);
        background-color: var(--interactive-text-background-color);

        // border
        border-width: var(--interactive-text-border-width);
        border-top-width: var(--interactive-text-border-top);
        border-bottom-width: var(--interactive-text-border-bottom);
        border-left-width: var(--interactive-text-border-left);
        border-right-width: var(--interactive-text-border-right);
        border-color: var(--interactive-text-border-color);
        border-style: var(--interactive-text-border-style);
        border-radius: var(--interactive-text-border-radius);

        // padding for size consistency with 1px max border
        padding-top: var(--interactive-text-padding-top);
        padding-bottom: var(--interactive-text-padding-bottom);
        padding-left: var(--interactive-text-padding-left);
        padding-right: var(--interactive-text-padding-right);

        &.space-after {
            margin-right: 4px;
        }
    }
}