#vocabulary-search-box {
    position: relative;
    display: block;
    width: 100%;
    height: 172px;
    overflow-y: scroll;

    &:not([language="japanese"]):not([language="chinese"]) {
        .search-result-word {
            font-weight: bold;
        }
    }

    .search-result {
        display: block;
        box-sizing: border-box;

        &:not(:first-child) .search-result-title {
            padding-top: 12px !important;
            margin-top: 12px !important;
            border-top: 1px solid var(--v-gray-base);
            height: calc(32px + 12px);
        }

        .search-result-title {
            display: inine-block;
            height: 32px;
            line-height: 28px;
            font-size: 14px;
            margin-bottom: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            .dictionary-title-icon {
                display: inline-block;
                border-radius: 12px;
                height: 24px;
                line-height: 22px !important;
                width: 42px;
                text-align: center;
            }


            .search-result-word {
                display: inline-block;
                float: right;
                max-width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        .search-result-definition {
            position: relative;
            display: block;
            width: 100%;
            min-height: 30px;
            line-height: 30px;
            user-select: none;
            cursor: pointer;
            text-align: right;
            overflow: hidden;
            padding-right: 26px;
            font-size: 13px;

            &:hover {
                background-color: var(--v-gray-base);
            }

            i.v-icon {
                position: absolute;
                right: 4px;
                top: calc(50% - 8px);
            }
        }

        &.disabled .search-result-definition:hover {
            &:hover {
                background-color: var(--v-foreground-base);
                cursor: default;
            }
        }

        .search-result-other-forms {
            width: 100%;
        }
    }
}


#vocab-side-box {
    #vocabulary-search-box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-self: stretch;
        overflow: hidden;
        overflow-y: scroll;
            

        div.v-input {
            flex: unset;
        }
        
        #search-results {
            overflow-y: scroll;
            flex: 1;
        }
    }
}

#vocab-bottom-sheet {
    #vocabulary-search-box {
        height: unset;
        border: none !important;

        div.v-input {
            flex: unset;
        }
        
        #search-results {
            overflow-y: scroll;
            flex: 1;
        }
    }
}