#text-reader-glossary .glossary-entry {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;

    &:nth-child(even) {
        background-color: rgb(242, 242, 242);
    }

    rt {
        font-size: 13px;
        color: var(--v-text-base);
    }

    .glossary-title {
        height: 50px;
    }

    .stage {
        position: relative;
        display: inline-block;
        float: left;
        width: 40px;
        height: 26px;
        line-height: 26px;
        border-radius: 8px;
        margin-top: 12px;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
        text-align: center;
        user-select: none;

        &[stage="-7"], &[stage="-6"], &[stage="-5"], &[stage="-4"],
        &[stage="-3"], &[stage="-2"], &[stage="-1"] {
            background-color: var(--v-highlightedWordLevel1-base);
            color: var(--v-highlightedWordText-base);
        }

        &[stage="2"] {
            background-color: var(--v-newWord-base);
            color: var(--v-highlightedWordText-base);
        }
    }

    .word, .reading {
        display: inline-block;
        float: left;
        border-radius: 4px;
        padding: 1px 5px;
        margin-left: 10px;
        font-size: 15px;
        user-select: none;
        height: 50px;
        line-height: 50px;
        
        div {
            display: inline-block;
        }

        &.word {
            min-width: 44px;
        }

        &.reading {
            color: var(--v-text-base);
        }
    }

    .translation {
        display: block;
        width: 100%;
        font-size: 14px;
        
        ul {
            padding-left: 70px;
        }
    }
}

@media (max-width: 650px) {
    #text-reader-glossary .glossary-entry{
        .word {
            font-size: 17px;
        }

        .translation {
            font-size: 15px;
        }
    }
}