#text-reader-chapter-list {
    span.highlighted{
        display: block;
        margin: auto;
        width: 60px;
        height: 24px;
        line-height: 24px;
        background-color: var(--v-highlightedWord-base);
        color: var(--v-highlightedWordText-base);
    }

    span.new {
        display: block;
        margin: auto;
        width: 60px;
        height: 24px;
        line-height: 24px;
        background-color: var(--v-newWord-base);
        color: var(--v-highlightedWordText-base);
    }
}


@media (max-width: 680px) {
    #text-reader-chapter-list {
        td, th {
            font-size: 13px !important;
        }

        td:nth-child(3), th:nth-child(3) {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    #text-reader-chapter-list {
        td:nth-child(4), td:nth-child(5),
        th:nth-child(4), th:nth-child(5) {
            display: none;
        }
    }
}

@media (max-width: 420px) {
    #text-reader-chapter-list {
        td:nth-child(2), th:nth-child(2){
            display: none;
        }
    }
}