.text-block-group {
    .word {
        font-family: notosans !important;
        display: inline-block;
        cursor: pointer;
        margin: 1px 0px;
        height: auto;
        line-height: 100%;
        padding-top: 4px; 
        padding-bottom: 4px;
        transition: .2s;
        color: var(--v-text-base);
        border-radius: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: background-color 0s;

        &:not(.phrase):not(.highlighted) {
            border-radius: 6px;
        }

        &.space {
            margin-left: 4px;
        }

        &[stage="-7"], &[stage="-6"], &[stage="-5"], 
        &[stage="-4"], &[stage="-3"], &[stage="-2"], &[stage="-1"] {
            background-color: var(--v-highlightedWord-base);
            color: var(--v-highlightedWordText-base);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="2"] {
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &.no-highlight, &.plain-text-mode {
            background-color: rgba(0, 0, 0, 0) !important;
            color: var(--v-text-base) !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0);
        }

        &.phrase {
            background-color: var(--v-highlightedWord-base);
            color: var(--v-highlightedWordText-base);
            border-top: 1px solid var(--v-highlightedWord-darken1);
            border-bottom: 1px solid var(--v-highlightedWord-darken1);
            margin-left: 0 !important;
            margin-right: 0 !important;

            &:hover {
                background-color: var(--v-highlightedWord-darken2);
            }
            
            &[phrasestage="0"] {
                border-color: rgb(180, 180, 180) !important;
                color: var(--v-text-base);
            }

            &[phrasestage="0"]:not([stage="2"]) {
                background-color: rgba(0, 0, 0, 0);

                &.highlighted {
                    background-color: var(--v-readerWordSelection-base);
                }
            }

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
                border-color: rgba(0, 0, 0, 0) !important;
                color: var(--v-text-base);
            }

            &.highlighted, &:hover, &[phrasestage="0"]:hover {
                background-color: var(--v-readerWordSelection-base);
            }
        }

        &.phrase-start {
            border-left: 1px solid var(--v-highlightedWord-darken1);
            border-top-left-radius: 6px !important;
            border-bottom-left-radius: 6px !important;
            margin-left: .5px !important;
            padding-left: 4px !important;
        }

        &.phrase-end {
            border-right: 1px solid var(--v-highlightedWord-darken1);
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
            margin-right: .5px !important;
            padding-right: 4px !important;
        }

        &[stage="2"] {
            background-color: var(--v-newWord-base);
            color: var(--v-highlightedWordText-base);
            margin-left: .5px !important;
            margin-right: .5px !important;

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
            }
        }
        
        &.highlighted, &:hover {
            background-color: var(--v-readerWordSelection-base);
            color: var(--v-highlightedWordText-base);
            border-color: var(--v-readerWordSelection-base) !important;
        }

        &.plain-text-mode {
            cursor: default !important;
            &:hover {
                color: var(--v-text-base) !important;
                user-select: text !important;
                cursor: text !important;
                background-color: rgba(0, 0, 0, 0);
            }
        }

    }

    #vocab-box {
        position: absolute;
        background-color: white;
        z-index: 5;
        transition: transform .12s linear !important;
        transform-origin: top;
        border-top: none;
        text-align: left;

        .v-tab {
            color: rgba(255, 255, 255, .8);

            &.v-tab--active {
                background-color: rgba(255, 255, 255, .14);
                color: white;
            }
        }

        .v-input__slot {
            min-height: 30px !important
        }

        .v-window.v-item-group {
            transition: .12s;

            .v-window__container {
                transition: .12s;
            }
        }

        &.closed {
            padding: 0px !important;
            transform: scale(1, 0);
        }

        #close-vocab-box-button {
            position: absolute;
            bottom: -18px;
            width: 100px;
            height: 36px;
            right: calc(50% - 50px);
            z-index: 3;
        }

        #word-edit-table table {

            thead tr,
            thead tr th,
            thead tr td {
                height: 26px;
                min-height: 26px;
            }

            thead tr th, tbody tr th, tbody tr td {
                border: none !important;
                text-align: center;
                padding: 0px 4px;
            }

            #selected-word-field {
                font-size: 16px;
            }
        }

        .vocab-box-subheader {
            color: rgba(0, 0, 0, .45);
        }

        #word, #phrase, #reading {
            color: var(--v-text-base);
            font-size: 19px;
            
            rt {
                font-size: 11.5px;
            }
        }

        #definitions {
            color: var(--v-text-base);
            font-size: 16px;
        }

        #vocab-box-bottom-space {
            display: block;
            width: 100%;
            height: 32px;
        }

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        &:after {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: var(--v-primary-base);
            border-width: 14px;
            margin-left: -14px;
        }
        
        &:before {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgb(200, 200, 200);
            border-width: 15px;
            margin-left: -15px;
        }

        #stage-buttons {
            overflow: hidden;

            button.v-btn {
                min-width: 40px;
                min-height: 40px;
                width: 40px;
                height: 40px;
            }
        }

        #search-results {
            display: block;
            width: 100%;
            height: 200px;
            overflow-y: scroll;

            .search-result {
                display: block;
                margin-bottom: 16px;


                .search-result-title {
                    display: block;
                    width: 100%;
                    height: 32 px;
                    line-height: 32px;

                    .dictionary {
                        display: inline-block;
                        float: right;
                    }
                }
                
                .search-result-definition {
                    position: relative;
                    display: block;
                    width: 100%;
                    min-height: 36px;
                    line-height: 36px;
                    user-select: none;
                    cursor: pointer;
                    text-align: right;
                    overflow: hidden;
                    padding-right: 32px;

                    &:hover {
                        background-color: #e0e0e0;
                    }

                    i.v-icon {
                        position: absolute;
                        right: 4px;
                        top: calc(50% - 12px);
                    }
                }

                .search-result-other-forms {
                    width: 100%;
                }

                &.jmdict .search-result-title {
                    background-color: #74e39a;
                }
            }
        }
    }
}
