// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$theme-color: #EA526F;
$background: rgb(246, 246, 246);
$light-gray: rgb(240, 241, 243);
$green: #2cd87f;
$red: #EA526F;
$orange: #ff8146;
$dark-gray: rgb(85, 85, 85);
$tint: rgb(235, 235, 235);
$border: rgb(225, 225, 225);
$new-word: #FDD692;
$selected-word: rgb(220, 220, 220);

$font-color: rgb(50, 50, 50);
$font-color-light: rgb(130, 130, 130);
$sidebar-button-color: rgb(160, 170, 180);
$border-dark: rgb(180, 180, 180);


$button-color: rgb(150, 150, 150);
$button-background: white;
$button-border-color: rgb(220, 220, 220);
$button-hover-background: rgb(240, 240, 240);
$button-hover-border-color: rgb(180, 180, 180);

$secondary-button-color: #fff;
$secondary-button-background: $theme-color;
$secondary-button-border-color: darken($theme-color, 5%);
$secondary-button-hover-background: darken($theme-color, 12%);
$secondary-button-hover-border-color: darken($theme-color, 10%);

$green-button-color: #fff;
$green-button-background: $green;
$green-button-border-color: darken($green, 5%);;
$green-button-hover-background: darken($green, 5%);
$green-button-hover-border-color: darken($green, 10%);;

$red-button-color: #fff;
$red-button-background: $red;
$red-button-border-color: darken($red, 5%);
$red-button-hover-background: darken($red, 8%);
$red-button-hover-border-color: darken($red, 10%);

$orange-button-color: #fff;
$orange-button-background: $orange;
$orange-button-border-color: darken($orange, 5%);
$orange-button-hover-background: darken($orange, 8%);
$orange-button-hover-border-color: darken($orange, 10%);

$black-button-color: #fff;
$black-button-background: $dark-gray;
$black-button-border-color: darken($dark-gray, 5%);
$black-button-hover-background: darken($dark-gray, 12%);
$black-button-hover-border-color: darken($dark-gray, 10%);

$highlighted-word: #34e87f;
$stage7: rgba($highlighted-word, 1);
$stage6: rgba($highlighted-word, 1);
$stage5: rgba($highlighted-word, 1);
$stage4: rgba($highlighted-word, 1);
$stage3: rgba($highlighted-word, 1);
$stage2: rgba($highlighted-word, 1);
$stage1: rgba($highlighted-word, 1);

//
$sliderThemeColor: $theme-color;

@font-face {
    font-family: notosans;
    src: url('/noto-sans/NotoSansJP-Regular.otf');
}
