// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'vocabulary_practice';
@import 'flash_card_practice';
@import 'flash_card_collections';
@import 'edit_flash_card_collection';
@import 'courses';
@import 'create_course';
@import 'edit_lesson';
@import 'lessons';
@import 'slider';

.vue-slider-ltr .vue-slider-mark-label, 
.vue-slider-rtl .vue-slider-mark-label {
    margin-top: 5px !important;
}

html, body, div#app {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: $background;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(235, 235, 235, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
    border-radius: 2px;
}

div#app {
    box-sizing: border-box;
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 100%;

    nav {
        margin-bottom: 20px;
    }
}

#sidebar {
    box-sizing: border-box;
    display: block;
    position: fixed;
    background-color: $light-gray;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 200px;
    border-right: 1px solid $border;
    user-select: none;

    #sidebar-brand {
        margin: 20px;
        font-size: 19px;
        height: 40px;
        line-height: 40px;
        padding-top: 0px;
        overflow: hidden;
        color: $font-color;
        text-align: right;
        padding-right: 0px;

        img {
            height: 40px;
            height: 40px;
            float: left;
        }
    }

    #sidebar-buttons {
        display: block;
        width: 100%;
        margin-top: 50px;

        .sidebar-button {
            box-sizing: border-box;
            display: block;
            height: 50px;
            margin: 0px auto;
            width: 100%;
            padding-top: 12px;
            padding-left: 58px;
            font-size: 16px;
            color: $sidebar-button-color;
            transition: color .2s;

            &:hover {
                text-decoration: none;
                color: darken($sidebar-button-color, 30%);
                background-color: darken($light-gray, 5%);
            }

            .icon {
                position: absolute;
                width: 30px;
                font-size: 18px;
                left: 16px;
                text-align: center;
                color: darken($sidebar-button-color, 30%);
            }
        }
    }
}

nav.navbar.navbar-light {
    display: none;
    box-shadow: none;
    border: none;

    .nav-item, .nav-item.dropdown {
        margin: 0px 10px;
        a {
            color: $font-color;

            &:hover {
                color: black;
            }
        }
    }
}

nav .nav-item.ebook-mode-button {
    user-select: none;
    cursor: pointer;
    
    a>i {
        color: $green;
        font-size: 18px;
    }
}

nav .nav-item.dropdown {
    color: $black;
    
}

.navbar-brand {
    font-size: 40px;
    height: 40px;
    line-height: 42px;
    padding-top: 0px;
    overflow: hidden;
    color: $blue !important;
}

#vocabulary-select-dropdown, #language-select-dropdown {
    img {
        border: 1px solid $border-color;
        margin-right: 6px;
        margin-bottom: 3px;
    }

    a, a:active, a:focus, a:visited {
        padding-left: 4px;
        padding-right: 4px;
    }

    a.dropdown-item:active, a.dropdown-item:focus, a.dropdown-item:hover {
        background-color: $border-color;
    }

    hr {
        margin: 5px 0px !important;
    }
}

::selection {
    color: white;
    background: $blue;
}

.btn {
    box-sizing: border-box;
    border-radius: 4px;
    transition: .2s;
    box-shadow: none !important;
    outline: none !important;

    &.small {
        height: 30px;
        line-height: 28px;
        padding: 0px 10px;
        font-size: 13px;
        min-width: 60px;
    }

    &:active, &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

.btn.btn-primary {
    color: $button-color;
    background-color: $button-background;
    border-color: $button-border-color;
}

.btn-primary:hover {
    color: $button-color;
    background-color: $button-hover-background;
    border-color: $button-hover-border-color;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):focus, .btn-primary:not(:disabled):not(.disabled).focus.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    color: $button-color;
    background-color: $button-hover-background;
    border-color: $button-hover-border-color;
    box-shadow: none;
}

.btn.btn-green {
    background-color: $green-button-background;
    color: $green-button-color;
    border-color: $green-button-border-color;
}

.btn-green:hover {
    background-color: $green-button-hover-background;
    color: $green-button-color;
    border-color: $green-button-hover-border-color;
}

.btn.btn-red {
    background-color: $red-button-background;
    color: $red-button-color;
    border-color: $red-button-border-color;
}

.btn-red:hover {
    background-color: $red-button-hover-background;
    color: $red-button-color;
    border-color: $red-button-hover-border-color;
}

.btn.btn-black {
    background-color: $black-button-background;
    color: $black-button-color;
    border-color: $black-button-border-color;
}

.btn.btn-secondary {
    background-color: $secondary-button-background;
    color: $secondary-button-color;
    border-color: $secondary-button-border-color;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background-color: $secondary-button-hover-background !important;
    color: $secondary-button-color  !important;
    border-color: $secondary-button-hover-border-color  !important;
}

.btn-black:hover {
    background-color: $black-button-hover-background;
    color: $black-button-color;
    border-color: $black-button-hover-border-color;
}

.form-control:focus {
    border-color: $font-color;
    box-shadow: 0px 0px 3px 0.5px rgba($font-color, 1);
}

a, a:visited,
a.btn-link, a.btn-link:visited {
    color: $font-color;
    outline: none;
}

a:hover, a:focus, a:active,
a.btn-link:hover, a.btn-link:focus, a.btn-link:active {
    color: $font-color;
    outline: none;
}

a.btn-link:hover, a.btn-link:focus, a.btn-link:active  {
    box-shadow: 0px 0px 3px 0.5px rgba($font-color, 1);
}
  
input[type="text"] {
    border: 1px solid $border;
    border-radius: 4px;
    outline: none;
    background: $light-gray;
    padding: 0px 8px;

    &:focus, &:active {
        border: 1px solid $border;
        outline: none;
        background: rgb(238, 238, 238);
    }
}

textarea {
    border: 1px solid $border;
    border-radius: 4px;
    outline: none;
    background: $light-gray;
    padding: 8px;
    resize: none;
    
    &:focus, &:active {
        border: 1px solid $border;
        outline: none;
        background: rgb(238, 238, 238);
    }
}

label.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(220, 220, 220);
        transition: .1s;
        border-radius: 16px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        transition: .2s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: $theme-color;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $theme-color;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }
}

@media (max-width: 1200px) {
    nav.navbar.navbar-light {
        display: block;
    }

    #sidebar {
        display: none;
    }

    div#app {
        width: 100%;
        margin-left: 0px;
    }
}