// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'vocabulary_practice';
@import 'flash_card_collections';
@import 'edit_flash_card_collection';
@import 'reader';
@import 'vocabulary';
@import 'kanji_list';
@import 'kanji_details';
@import 'books';
@import 'create_book';
@import 'edit_chapter';
@import 'chapters';
@import 'slider';

.vue-slider-ltr .vue-slider-mark-label, 
.vue-slider-rtl .vue-slider-mark-label {
    margin-top: 5px !important;
}

* {
    font-family: sans-serif !important;
}

html, body, div#app {
    scroll-behavior: smooth;
    scroll-padding-bottom: 32px;
}

main {
    display: block;
    overflow-x: hidden;
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background: #f8f8f8;
    z-index: 100;
}

::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
    border-radius: 2px;
    z-index: 100;
}

::selection {
    //background: darken($tint, 10%);
}

div.v-bottom-navigation{
    position: fixed !important;
    bottom: 0px !important;
    z-index: 1;
}

div.v-btn,
button.v-btn,
a.v-btn {
    &:not(.toolbar-button):not(.stage-button) {
        text-decoration: none !important;
        text-transform: unset !important;
        font-weight: normal;
    }
}

.v-bottom-navigation .v-btn,
div.v-btn.primary, div.v-btn.green, div.v-btn.red,
button.v-btn.primary, button.v-btn.green, button.v-btn.red,
a.v-btn.primary, a.v-btn.green, a.v-btn.red {
    &:not(.toolbar-button):not(.stage-button) {
        color: rgba(255,255,255, .94);
        
        span {
            color: rgba(255,255,255, .94);
        }
    }
}

div.v-data-table {
    th {
        color: rgb(0, 0, 0, .8) !important;
    }

    &.no-background {
        background-color: rgba(0, 0, 0, 0);
    }

    &.no-row-border {
        td, th, tr {
            border-top: 0px !important;
            border-bottom: 0px !important;
        }
    }

    &.border .v-data-table__wrapper table {
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

    &.no-hover .v-data-table__wrapper table {
        tbody tr:hover,
        tbody tr:hover td {
            background-color: transparent !important;
        }
    }
}

@media (max-width: 1263px) { 
    html, body, div#app {
        scroll-behavior: smooth;
        scroll-padding-bottom: 90px;
    }

    #content {
        padding-bottom: 60px !important;
    }
}

@media (min-width: 1264px) {
    .container {
        max-width: 1185px !important;
    }
}

@media (max-width: 850px) {
    div.v-bottom-navigation a {
        max-width: 110px !important;
    }
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 720px;
    }
}

@media (max-width: 560px) {
    div.v-bottom-navigation a {
        max-width: 80px !important;
    }
}

@media (max-width: 399px) {

    div.v-bottom-navigation a {
        max-width: 40px !important;

    }
}
