#books {
    width: 100%;
    overflow-y: visible;
    
    .book {
        width: 800px;
        max-width: 1000px;

        &.button-box {
            background-color: rgb(0, 0, 0, 0);
            border: none;
        }
        
        div.v-image.cover-image {
            width: 266px;
            height: 266px;
        }
    }

    .book .action-button i.v-icon {
        font-size: 20px;
    }

    .book-info-table {
        width: 90%;

        .info-table-value {
            height: 24px;
            line-height: 24px;
            width: 60px;

            &.highlighted {
                border-radius: 4px;
            }
        }

        tbody tr,
        tbody tr td {
            height: 26px !important;
            line-height: 26px !important;
            border: none !important;
        }

        tbody tr td:nth-child(1) {
            width: 325px;
        }
    }
}


@media (max-width: 850px) {
    #books .book {
        overflow: hidden;
        width: 94%;

        .book-title {
            font-size: 18px;
        }

        .book-info-table td {
            font-size: 13px;
        }
    }
}

@media (max-width: 600px) {
    #books .book {
        max-width: 400px;
        width: calc(100% - 32px);
        height: auto;

        div.v-image.cover-image {
            width: 100%;
        }

        .book-title {
            font-size: 18px;
        }

        .book-info-table td {
            font-size: 13px;
        }
    }
}

