#books {
    width: 100%;
    overflow-y: visible;
    
    .book-box {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .book {
        background-color: white;
        width: 800px;
        overflow: hidden;

        &.button-box {
            background-color: transparent;
            border: none;
        }
        
        div.v-image.cover-image {
            width: 266px;
            height: 266px;
        }
    }

    .book .action-button i.v-icon {
        font-size: 20px;
    }

    .book-info-table {
        width: calc(100% - 24px);
        background-color: transparent;

        .info-table-value {
            height: 24px;
            line-height: 24px;
            width: 60px;

            &.highlighted-words {
                background-color: var(--v-highlightedWord-base);
                color: var(--v-highlightedWordText-base);
            }

            &.new-words {
                background-color: var(--v-newWord-base);
                color: var(--v-highlightedWordText-base);
            }
        }

        tbody tr,
        tbody tr td {
            height: 26px !important;
            line-height: 26px !important;
            border: none !important;
        }

        tbody tr td:nth-child(2) {
            padding-right: 0px;
            
            div {
                float: right;
            }
        }
    }
}


@media (max-width: 959px) {
    #books .book {
        overflow: hidden;

        .book-title {
            font-size: 18px;
        }

        .book-info-table td {
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {
    #books .book {
        width: calc(100% - 32px);
        max-width: 400px;
        height: auto;

        .book-box {
            flex-wrap: wrap;
        }

        div.v-image.cover-image {
            width: 100%;
        }

        .book-title {
            font-size: 18px;
        }

        .book-info-table td {
            font-size: 13px;
        }
    }
}

