#chapters {
    width: 100%;
    
    .chapter {
        width: 800px;
        max-width: 1000px;
        background-color: white;
        
        &.button-box {
            background-color: rgb(0, 0, 0, 0);
            border: none;
        }

        .chapter-info-table {
            width: 100%;
            background-color: transparent;
            
            .info-table-value {
                height: 24px;
                line-height: 24px;
                width: 60px;
            }
    
            tbody tr,
            tbody tr td {
                height: 26px !important;
                line-height: 26px !important;
                border: none !important;
    
                &:hover {
                    background-color: transparent !important;
                }
            }
    
            tbody tr td:nth-child(2) {
                width: 100px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 959px) {
    #chapters .chapter{
        width: 94%;

        .chapter-title {
            font-size: 18px;
        }

        .chapter-info-table td {
            font-size: 13px;
        }
    }
}

@media (max-width: 600px) {
    #chapters .chapter{
        max-width: 400px;
        width: calc(100% - 40px);
        height: auto;
    }
}