#chapters {
    .chapter {
        width: 100%;
        max-width: 1000px;

        .chapter-info-table {
            width: calc(100% - 24px);
            background-color: transparent;
            
            .info-table-value {
                height: 24px;
                line-height: 24px;
                width: 60px;

                &.highlighted-words {
                    background-color: var(--v-highlightedWord-base);
                    color: var(--v-highlightedWordText-base);
                }
    
                &.new-words {
                    background-color: var(--v-newWord-base);
                    color: var(--v-highlightedWordText-base);
                }
            }
    
            tbody tr,
            tbody tr td {
                height: 26px !important;
                line-height: 26px !important;
                border: none !important;
    
                &:hover {
                    background-color: transparent !important;
                }
            }
    
            tbody tr td:nth-child(2) {
                padding-right: 0px;
                
                div {
                    float: right;
                }
            }
        }
    }
}

// @media (max-width: 959px) {
//     #chapters .chapter{
//         .chapter-title {
//             font-size: 18px;
//         }

//         .chapter-info-table td {
//             font-size: 13px;
//         }
//     }
// }

// @media (max-width: 600px) {
//     #chapters .chapter{
//         max-width: 400px;
//         width: calc(100% - 40px);
//         height: auto;
//     }
// }