#chapters {
    .chapter {
        width: 800px;
        max-width: 1000px;
        
        &.button-box {
            background-color: rgb(0, 0, 0, 0);
            border: none;
        }

        .chapter-info-table {
            width: 90%;
            
            .info-table-value {
                height: 24px;
                line-height: 24px;
                width: 60px;
    
                &.highlighted {
                    border-radius: 4px;
                }
            }
    
            tbody tr,
            tbody tr td {
                height: 26px !important;
                line-height: 26px !important;
                border: none !important;
    
                &:hover {
                    background-color: transparent !important;
                }
            }
    
            tbody tr td:nth-child(1) {
                width: 325px;
            }
        }
    }
}

@media (max-width: 850px) {
    #chapters .chapter{
        width: 94%;

        .chapter-title {
            font-size: 18px;
        }

        .chapter-info-table td {
            font-size: 13px;
        }
    }
}

@media (max-width: 600px) {
    #chapters .chapter{
        max-width: 400px;
        width: calc(100% - 40px);
        height: auto;
    }
}