#create-book-form {
    display: block;
    width: 800px;
}

@media (max-width: 850px) {
    #create-book-form {
        overflow: hidden;
        width: 94%;
    }
}

@media (max-width: 600px) {
    #create-book-form {
        max-width: 400px;
        width: calc(100% - 32px);
    }
}