@import 'variables';

// v-card
#app.dark .theme--dark.v-card,
#app.dark .theme--dark.v-card > .v-card__subtitle, 
#app.dark .theme--dark.v-card > .v-card__text {
    color: var(--v-text-base);
    background: var(--v-foreground-base);
}

// v-stepper
#app.dark .theme--dark.v-stepper {
    background: var(--v-foreground-base);
}

// alert
#app.dark .v-alert.primary,
#app.dark .v-alert.success,
#app.dark .v-alert.error {
    color: var(--v-textDark-base);
    
    i.v-icon {
        color: var(--v-textDark-base);
    }
}

// table
#app.dark .theme--dark.v-data-table {
    background: var(--v-foreground-base);
    color: var(--v-text-base);
}

// v-menu
#app.dark .v-menu__content.theme--dark {
    border: 1px solid var(--v-customBorder-base) !important;
}

#app.dark button.v-btn.menu-button {
    background: var(--v-foreground-base) !important;
    color: var(--v-text-base) !important;
    
    span {
        color: var(--v-text-base) !important;
    }
}

// date picker
#app.dark .theme--dark.v-picker__body {
    background: var(--v-foreground-base);
}

#app.dark .theme--dark.v-date-picker-header .v-date-picker-header__value:not(.v-date-picker-header__value--disabled) button:not(:hover):not(:focus) {
    color: var(--v-text-base);
}

#app.dark .v-date-picker-title {
    color: var(--v-textDark-base);
}

// v-list
#app.dark .theme--dark.v-list {
    background: var(--v-foreground-base);
}

// navigation text
#app.dark .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--v-text-base);
}

// navigation bottom text
#app.dark .v-navigation-drawer .v-btn__content span {
    color: var(--v-text-base);
}

// tab bar
#app.dark .v-slide-group__wrapper {
    background-color: var(--v-foreground-base);
}

// navigation button
#app.dark .theme--dark.v-list-item--active:before, 
#app.dark .theme--dark.v-list-item--active:hover:before, 
#app.dark .theme--dark.v-list-item:focus:before {
    opacity: 0;
}

// v-icon
#app.dark .theme--dark.v-icon,
#app.dark .v-btn.icon > .v-btn__content .v-icon {
    color: var(--v-text-base);
}

// white button icon
#app.dark .v-btn .theme--dark.v-icon.white--text {
    color: var(--v-background-base) !important;
}

// error v-icon button
#app.dark .v-btn.error--text .theme--dark.v-icon {
    color: var(--v-error-base);
}

// success v-icon button
#app.dark .v-btn.success--text .theme--dark.v-icon {
    color: var(--v-success-base);
}

// button
#app.dark .v-btn.primary .v-btn__content i.v-icon {
    color: var(--v-background-base);
}

//  button
#app.dark .theme--dark.v-btn.v-btn--has-bg {
    background-color: var(--v-foreground-base);
}

#app.dark .v-btn.primary .v-btn__content,
#app.dark .v-btn.error .v-btn__content,
#app.dark .v-btn.success .v-btn__content {
    color: var(--v-background-base);

    span {
        color: var(--v-background-base);
    }
}

// calendar
#app.dark .v-btn.calendar-button .v-btn__content {
    color: var(--v-text-base);

    span {
        color: var(--v-text-base);
    }
}

#app.dark #calendar-popup-date {
    color: var(--v-textDark-base);

    i.v-icon {
        color: var(--v-textDark-base);
    }
}

// v-btn plain
#app.dark .v-btn--plain .v-btn__content {
    color: var(--v-text-base);
}

// subheader
#app.dark .subheader{
    color: var(--v-text-base);
}

// border
#app.dark .border {
    border-color: #393939 !important;
}

// calendar text
#app.dark #calendar #calendar-months .calendar-month .calendar-month-days .calendar-day.full-achievement .calendar-day-text {
    color: var(--v-textDark-base);
}
// calendar border
#app.dark #calendar #calendar-months .calendar-month .calendar-month-days .calendar-day {
    border-color: #404040;
}

// navigation text
#app.dark #navigation-drawer a.navigation-button.v-list-item--active {
    color: var(--v-textDark-base) !important;

    i {
        color: var(--v-textDark-base) !important;
    }
}

// book list text color
#app.dark #books .info-table-value.highlighted-words,
#app.dark #books .info-table-value.new-words {
    color: var(--v-textDark-base) !important;
}

// chapter list text color
#app.dark .book-chapters .info-table-value.highlighted-words,
#app.dark .book-chapters .info-table-value.new-words {
    color: var(--v-textDark-base) !important;
}