html, body, div#app {
    background-color: white !important;
}

body {
    background-color: white;
}

* {
    transition: 0s !important;
}

#app {
    scroll-behavior: smooth;
}

$sliderThemeColor: black;
@import 'slider';

label.switch {
    input:checked + .slider {
        background-color: black !important;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px black !important;
    }
}

hr {
    border-color: black;
}

nav.navbar-light {
    border-bottom: 1px solid black;

    .navbar-nav .nav-link {
        color: black;
    }

    #vocabulary-select-dropdown a {
        color: black;
    }
}

#language-select-dropdown img {
    border: 1px solid black;
}

.dropdown-menu {
    border: 1px solid black;
}



.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):focus, .btn-primary:not(:disabled):not(.disabled).focus.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn.btn-primary, .btn-primary:hover,
.btn.btn-green, .btn-green:hover, .btn.btn-red, .btn-red:hover, .btn.btn-black, .btn.btn-secondary,
.btn.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-black:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    box-shadow: none !important;
}


textarea, textarea.form-control, input, input.form-control, select, select.form-control, 
#lessons .lesson, #courses .course, #languages>.language>a>img{
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: none;
}

#chapters {
    transition: 0s;

    #course-name {
        color: black;
    }

    .chapter .chapter-title div {
        background-color: white;
        border: 1px solid black;
        color: black;
    }
}

#settings {
    transition: 0s;
}

#toolbar {
    border: none;
    border-radius: 0px;

    .toolbar-button {
        color: rgb(165, 165, 165);
        transition: 0s;

        &:hover {
            color: rgb(165, 165, 165);
        }

        &.selected {
            color: black;
        }
    }

    #font-size {
        padding-top: 2px;
        height: 100%;
    }
}

#reader-box {
    #toolbar-header {
        max-width: 100%;
        font-size: 18px;
    }

    #glossary .glossary-entry {
        color: black;
        min-height: 100px;
        padding: 0px 10px;

        .word{
            font-weight: bold;
        }
    }

    #vocab-box {
        box-shadow: none;
    }

    #reader {
        width: calc(100% - 60px);
    }

    #show-sidebar-vocab-box-button {
        display: block;
        padding: 0px;
    }

    #vocab-box{
        background-color: white;
        z-index: 12;
        border: 1px solid black;
    }
}

#reader-box {
    #vocab-box {
        rt {
            color: black !important;
        }

        .stage-buttons .stage-button{
            background-color: rgb(200, 200, 200);
            color: black;

            &:hover {
                background-color: rgb(200, 200, 200);
                color: black;
            }

            &.selected{
                background-color: rgb(110, 110, 110);
                color: white;
            }
        }

        .title, .vocab-edit, .show-phrase-reading {
            color: black;
        }

    }

    .word {
        &.phrase {
            border-radius: 0px;
            background-color: rgb(175, 175, 175);
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            &:hover {
                background-color: white;
            }

            &.phrase-start {
                border-left: 1px solid black;
            }

            &.phrase-end {
                border-right: 1px solid black;
            }
            
            &[phrasestage="0"] {
                border-color: black !important;
            }

            &[phrasestage="0"]:not([stage="2"]) {
                background-color: rgba(0, 0, 0, 0);

                &.highlighted {
                    background-color: rgb(175, 175, 175);
                }
            }

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
                border-color: rgba(0, 0, 0, 0);
            }

            &.highlighted{
                background-color: rgb(175, 175, 175);
            }
        }

        &[stage="2"] {
            background-color: rgba(0, 0, 0, 0);
            border-bottom: 1px solid black;

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
            }
        }
        
        &.highlighted {
            background-color: rgb(175, 175, 175);
        }

        &:hover {
            background-color: white;
            border: none;
        }

        &[stage="-7"], &[stage="-6"], &[stage="-5"], &[stage="-4"], &[stage="-3"], &[stage="-2"], &[stage="-1"] {
            background-color: rgb(175, 175, 175);
        }
    }
}

#finished-box {
    height: 100%;

    #finished-stats, #finished-stats td, #finished-stats th{
        border-color: black !important;
    }
}

#languages .language .language-info {
    border: 1px solid black;
    border-top: 0px;
}

#courses {
    width: calc(100% - 16px);
}

#lessons .lesson .lesson-options .lesson-options-dropdown .lesson-option {
    border: 1px solid black;
}

#edit-sentence-collection-form, #sentence-practice-box {
    width: 95%;
}

.sentence-collection {
    border: 1px solid black;
}

#vocabulary-practice {
    display: block;
    width: 600px;
}

#flash-card-practice-box {
    max-width: unset;

    #flash-card-additional-information {
        border-color: black;

        td, th {
            border-color: black;
        }
    }
}

.flash-card-collection {
    border: 1px solid black;
}

input[type="text"], textarea{
    border: 1px solid rgb(100, 100, 100);
    background-color: white;

    &:focus, &:active {
        border: 1px solid rgb(100, 100, 100);
    }
}