#edit-flashcards #flashcards{
    thead tr ,
    tbody tr {
        td.index,
        th.index {
            text-align: center;
            padding: 0px;
            width: 40px;
        }

        td.level,
        th.level {
            text-align: center;
            padding: 0px;
            width: 40px;
        }

        td.target-language,
        th.target-language {
            text-align: center;
        }

        td.reading,
        th.reading {
            text-align: center;
            width: 200px;
        }

        td.translation,
        th.translation {
            text-align: center;
            width: 200px;
        }

        td.options,
        th.options {
            text-align: center;
            width: 78px;

            button.v-btn {
                width: 36px !important;
                min-width: 36px !important;
            }
        }
    }
}

@media (max-width: 1100px) {
    #edit-flashcards #flashcards{
        thead tr ,
        tbody tr {
            td.reading,
            th.reading {
                display: none;
            }
        }
    }
}

@media (max-width: 650px) {
    #edit-flashcards #flashcards{
        thead tr ,
        tbody tr {
            td.translation,
            th.translation {
                display: none;
            }
        }
    }
}

@media (max-width: 400px) {
    #edit-flashcards #flashcards{
        thead tr ,
        tbody tr {
            td.level,
            th.level {
                display: none;
            }
        }
    }
}