#edit-chapter-form {
    display: block;
    width: 800px;
    max-width: 1000px;

    .form-line {
        display: block;
        width: 100%;

        input, select, textarea {
            width: 100%;
        }
    }
}

@media (max-width: 850px) {
    #edit-chapter-form {
        width: 94%;
    }
}

@media (max-width: 600px) {
    #edit-chapter-form {
        max-width: 400px;
        width: calc(100% - 32x);
    }
}