button#create-flashcard-collection-button {
    margin: 0px 25px;
}

#flashcard-collections {
    width: 100%;

    .flashcard-collection {
        width: 240px;
        height: 340px;
        

        .flashcard-collection-info-table {
            tbody tr,
            tbody tr td {
                border-bottom: none !important;
            }
        }
    }
}

@media (max-width: 600px) {
    #flashcard-collections {
        .flashcard-collection {
            width: 300px;
            height: 380px;
        }
    }
}