button#create-flash-card-collection-button {
    margin: 0px 25px;
}

.flash-card-collection {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: calc(100% - 50px);
    max-width: 800px;
    height: 120px;
    margin: 24px auto;
    border: 1px solid $border;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    color: $font-color;


    .flash-card-collection-name {
        width: 100%;
        height: 60px;
        line-height: 80px;
        font-size: 18px;
    }

    .flash-card-collection-buttons {
        width: 100%;
        height: 60px;
        text-align: right;
        padding: 10px;
    }
}