@import 'variables';

#media-player {
    background-color: var(--v-background-base);

    &.fullscreen-mode {
        overflow: auto;

        #subtitle-reader-box {
            margin: auto;
        }
    }

    #media-controls-box {
        position: sticky;
        margin: auto;
        z-index: 4;
        top: 0px;
        background-color: var(--v-background-base);
    }
}

@media (max-width: 500px) {
    #media-controls-title {
        font-size: 3.5vw;
    }
}