@import 'variables';

@font-face {
    font-family: notosans;
    src: url('/noto-sans/NotoSansJP-Regular.otf');
}

#app {
    background-color: white !important;
}

#fullscreen-box {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
    &.fullscreen-mode {
        min-height: unset;
        height: 100%;
        overflow-y: auto;
    }
}

#reader-box {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px;
    padding-left: 60px;
    overflow: visible;
    transition: .2s;
}

#finish-reading-button {
    margin-top: 10px;
    margin-bottom: 500px;
}

#toolbar {
    position: fixed;
    box-sizing: border-box;
    display: inline-block;
    width: 60px;
    margin-bottom: 10px;
    margin-left: -60px;
    height: 100%;
    padding: 0px;
    border-radius: 8px;

    .toolbar-button-group {
        display: block;
        width: 100%;
        border-radius: 14px;
        padding: 10px 10px;
        margin: 10px 0px;

        &.menus {
            margin-top: 0px;
            padding-top: 3px;
        }
    }

    .toolbar-button {
        display: block;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        margin: 8px auto;
        padding-top: 5px;
        outline: none;
        color: $sidebar-button-color;
        border-radius: 4px;
        transition: .2s;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0);

        i {
            margin: 0px;
            font-size: 18px;
        }

        &:active, &:focus {
            outline: none;
        }

        &:hover {
            background-color: $tint;
        }

        &.selected {
            background-color: $tint;
            color: $theme-color;
        }
    }
}

#toolbar-header {
    display: block;
    position: fixed;
    height: 50px;
    line-height: 50px;
    padding-top: 5px;
    max-width: calc(100% - 268px);
    background-color: white;
    color: $font-color;
    font-size: 22px;
    z-index: 10;

    span {
        float: right;
        margin-right: 120px;
    }
}

#glossary, #settings, #chapters {
    position: relative;
    box-sizing: border-box;
    display: none;
    width: calc(100% - 60px);
    margin: 0px;
    height: 100%;
    padding: 12px 0px;
    padding-top: 50px;
    
    &.visible {
        display: block;
    }
}

#settings {
    .setting {
        display: block;
        height: 50px;
        padding-left: 10px;

        .setting-label {
            display: inline-block;
            float: left;
            width: 210px;
            height: 50px;
            line-height: 50px;
            font-size: 15px;
        }

        .setting-input {
            display: inline-block;
            float: left;
            width: 300px;
            height: 50px;
            
            &.switch {
                padding-top: 17px;
            }

            &.slider {
                padding-top: 10px;

            }
        }
    }
}

#glossary .glossary-entry {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
    padding: 10px;

    &:nth-child(even) {
        background-color: $light-gray;
    }

    rt {
        font-size: 13.5px;
    }

    .glossary-title {
        height: 50px;
    }

    .stage {
        position: relative;
        display: inline-block;
        float: left;
        width: 40px;
        height: 26px;
        line-height: 26px;
        border-radius: 8px;
        margin-top: 12px;
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
        background-color: $green;
        text-align: center;
        user-select: none;

        &[stage="-7"] {
            background-color: $stage7;
        }

        &[stage="-6"] {
            background-color: $stage6;
        }

        &[stage="-5"] {
            background-color: $stage5;
        }

        &[stage="-4"] {
            background-color: $stage4;
        }

        &[stage="-3"] {
            background-color: $stage3;
        }

        &[stage="-2"] {
            background-color: $stage2;
        }

        &[stage="-1"] {
            background-color: $stage1;
        }

        &[stage="2"] {
            background-color: $new-word;
        }
    }

    .word, .reading {
        display: inline-block;
        float: left;
        border-radius: 4px;
        padding: 1px 5px;
        margin-left: 10px;
        font-size: 15px;
        user-select: none;
        height: 50px;
        line-height: 50px;
        
        div {
            display: inline-block;
        }

        &.word {
            min-width: 60px;
        }

        &.reading {
            color: lighten($font-color, 40%);
        }
    }

    .translation {
        display: block;
        width: 100%;
        font-size: 14px;
        
        ul {
            padding-left: 70px;
            margin-top: 10px;
        }
    }
}

#chapters {
    .chapter-connect-line {
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        margin: 20px calc(50% - 5px);
        border-radius: 10px;
        background-color: $theme-color;
    }

    .chapter {
        position: relative;
        display: block;
        width: 100%;
        line-height: 30px;
        padding: 10px;
        font-size: 17px;
        scroll-margin: 50px;
        background-color: $light-gray;
        border-radius: 4px;;

        .chapter-title {
            font-weight: bold;
            margin-bottom: 5px;

            div {
                display: inline-block;
                height: 28px;
                line-height: 26px;
                float: right;
                padding: 1px 5px;
                background-color: $green;
                color: white;
                font-weight: normal;
                border-radius: 4px;
                font-size: 15px;
                user-select: none;
            }
        }

        .chapter-read, 
        .chapter-words,
        .chapter-unique-words,
        .chapter-known-words,
        .chapter-highlighted-words,
        .chapter-new-words {
            width: 300px;
            display: block;
            margin-left: 20px;
            margin-top: 1px;
            font-size: 14px;
            height: 22px;
            line-height: 22px;

            span {
                float: right;
            }
        }

        .chapter-highlighted-words span{
            width: 60px;
            background-color: $highlighted-word;
            border-radius: 4px;
            text-align: center;
        }

        .chapter-new-words {
            margin-top: 2px;
            
            span {
                width: 60px;
                background-color: $new-word;
                border-radius: 4px;
                text-align: center;
            }
        }

        button {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}

#vocab-box {
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 400px;
    background-color: white;
    border: 1px solid $border;
    border-radius: 6px;
    z-index: 10;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);

    .vocab-box-button {
        float: right;
        margin-right: 0px;
        margin-top: 5px;
    }

    #delete-phrase-button {
        margin-right: 5px;
    }

    .title {
        display: block;
        font-family: "Nunito", sans-serif;
        font-size: 13.5px;
        color: $font-color-light;
        float: left;
    }

    .vocab-edit, .show-phrase-reading {
        font-family: "Nunito", sans-serif;
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 13.5px;
        color: $font-color-light;
        float: right;
        user-select: none;
        cursor: pointer;

        &:hover {
            color: $font-color;
        }

        &.show-phrase-reading {
            right: 60px;
        }
    }

    .vocab-phrase-box {
        display: block;
        position: relative;
        font-family: notosans;
        width: 100%;
        padding: 8px 10px;
        border-bottom: 1px solid rgb(200, 200, 200);
        overflow: hidden;
        
        button {
            margin-right: 0px;
        }

        .phrase-reading {
            display: block;
            width: 100%;
            height: 80px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .vocab-phrase {
            display: block;
            width: 100%;
            margin-top: 22px;
            margin-bottom: 5px;
            padding: 0px 6px;
            font-size: 18px;
        }

        .vocab-phrase-reading {
            margin-top: 30px;
            display: block;
            width: 100%;
            padding: 0px 6px;
            font-size: 18px;
        }
    }

    .vocab-word-box {
        position: relative;
        font-family: notosans;
        width: 100%;
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: 20px;
        padding: 8px;
        overflow: hidden;

        .vocab-word {
            display: block;
            width: 100%;
            text-align: left;
            padding-left: 10px;
            margin-top: 25px;
        }

        ruby {
            rt {
                font-size: 14px;
                color: rgb(80, 80, 80);
            }
        }

        #vocab-word-edit {
            display: block;
            width: 380px;
            margin: auto;
            margin-top: 20px;
            font-size: 13px;
            box-sizing: border-box;

            .vocab-word-edit-line {
                display: block;
                width: 100%;
                overflow: hidden;

                &:last-child {
                    height: 35px;
                }

                button {
                    margin-right: 0px;
                }
            }

            .vocab-word-edit-cell {
                display: inline-block;
                float: left;

                &:nth-child(3) {
                    text-align: right;
                }
            }
            
            .vocab-word-edit-line, .vocab-word-edit-cell {
                box-sizing: border-box;
                text-align: center;
                height: 40px;
                line-height: 40px;
                margin: 0px;
                padding: 0px;
            }

            .vocab-word-edit-line:nth-child(1) .vocab-word-edit-cell, 
            .vocab-word-edit-line:nth-child(1) {
                height: 30px;
                line-height: 30px;
                font-weight: bold;
                text-align: center;
            }

            .vocab-word-edit-cell:nth-child(1){
                width: 70px;
                text-align: right !important;
                padding-right: 20px;
                
            }

            .vocab-word-edit-cell:nth-child(2){
                width: 150px;
            }

            .vocab-word-edit-cell:nth-child(3){
                width: 150px;
                float: right;
            }

            input {
                box-sizing: border-box;
                width: calc(100% - 8px);
                height: 30px;
            }
        }
    }

    .vocab-translation {
        position: relative;
        width: 100%;
        min-height: 50px;
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: 16px;
        padding: 8px;

        ul {
            display: block;
            width: 100%;
            overflow-y: auto;
            padding: 5px 0px;
            padding-left: 30px;
            margin-top: 30px;
            margin-bottom: 0px;
        }

        #search-box {
            display: block;
            width: 100%;
            margin: auto;
            margin-bottom: 5px;
        }

        textarea {
            display: block;
            width: 100%;
            height: 80px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #search-results {
            display: block;
            overflow-y: scroll;
            height: 190px;
            margin-bottom: 3px;
            width: 100%;
            border-radius: 8px;
            
            .search-result {
                position: relative;
                display: block;
                width: calc(100% - 5px);
                margin: 0px 0px;
                padding-left: 8px;
                //height: 36px;
                line-height: 36px;
                overflow: hidden;

                .search-result-title {
                    display: block;
                    text-align: right;
                    background-color: rgb(116, 227, 154);
                    height: 30px;
                    line-height: 30px;
                    padding: 0px 6px;
                    border-radius: 6px;
                    margin-bottom: 4px;

                    &:nth-of-type(1) {
                        margin-top: 10px;
                    }

                    .dictionary {
                        float: left;
                    }
                }

                .search-result-definition {
                    display: block;
                    position: relative;
                    text-align: right;
                    font-size: 15px;
                    min-height: 30px;
                    padding-right: 24px;
                    border-radius: 6px;
                    cursor: pointer;

                    i {
                        display: block;
                        position: absolute;
                        right: 5px;
                        top: 11px;
                    }

                    &:hover {
                        background-color: $tint;
                    }
                }

                .search-result-other-forms-title {
                    display: block;
                    width: 100%;
                    height: 18px;
                    line-height: 18px;
                    color: $font-color;
                    font-size: 13px;
                }

                .search-result-other-forms {
                    display: block;
                    width: 100%;
                    color: $font-color;
                    font-size: 13px;
                    line-height: 24px;
                    .search-result-other-form {
                        display: inline-block;
                        float: left;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .stage-buttons-box {
        box-sizing: border-box;
        padding: 8px;
        overflow: hidden;
    }

    .stage-buttons {
        width: 351px; 
        height: 36px;
        margin: 10px auto;
        margin-top: 25px;
        background-color: $light-gray;
        border: 0px solid $border;
        border-radius: 6px;
        text-align: center;
        overflow: hidden;

        &.hidden-ignore-button {
            width: 342px; 
        }

        .stage-button {
            box-sizing: border-box;
            display: inline-block;
            width: 39px;
            height: 36px;
            line-height: 36px;
            user-select: none;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin: 0px;
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;

            &:hover {
                background-color: $tint;
            }

            &.selected {
                background-color: $theme-color;
                border-color: $theme-color;
                color: white;
            }
        }
    }

    &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    &:after {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: white;
        border-width: 14px;
        margin-left: -14px;
    }
    
    &:before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: rgb(200, 200, 200);
        border-width: 15px;
        margin-left: -15px;
    }
}

#vocab-box.new-phrase {
    .vocab-phrase-box {
        border-bottom: 0px;
    }

    .show-phrase-reading {
        right: 8px;
    }
}

#vocab-box.editing {
    .stage-buttons-box {
        display: block;
    }

    .vocab-word-box, .vocab-phrase-box {
        border-bottom: 0px;
    }

    .show-phrase-reading {
        right: 8px;
    }
}

#vocab-box.translation-edit {
    .vocab-word-box, .stage-buttons-box {
        display: none;
    }

    .vocab-translation {
        border-bottom: 0px;
        padding: 8px;
        padding-bottom: 43px;
    }
}

button.btn.btn-primary.edit-stage-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0px;
    text-align: center;
    font-size: 17px;
    margin: 0px 1.5px;
    font-weight: bold;

    &.selected, &.selected:focus, &.selected:active {
        background-color: darken($green, 10%);
        color: white;
    }

    &:active, &:focus {
        box-shadow: none;
    }
}

#reader.japanese-text {
    writing-mode: vertical-rl;
    text-orientation: upright;

    .word {
        padding: 0px !important;
        width: 22px;
        text-align: center;
    }
}

#reader {
    box-sizing: border-box;
    display: block;
    width: 100%;
    line-height: 1.25;
    line-height: 1.3;
    margin: 0px auto;
    user-select: none;
    padding: 10px 10px;
    transition: .2s;
    overflow-x: auto;

    &.plain-text-mode {
        user-select: text !important;
    }

    &.hidden {
        display: none;
    }

    .word {
        font-family: notosans;
        display: inline-block;
        cursor: pointer;
        margin: 1px 0px;
        transition: .2s;
        color: black;
        border-radius: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: background-color 0s;

        &:not(.phrase):not(.highlighted) {
            border-radius: 6px;
        }

        &.space {
            margin-left: 4px;
        }

        &[stage="-7"] {
            background-color: $stage7;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="-6"] {
            background-color: $stage6;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="-5"] {
            background-color: $stage5;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="-4"] {
            background-color: $stage4;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="-3"] {
            background-color: $stage3;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="-2"] {
            background-color: $stage2;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="-1"] {
            background-color: $stage1;
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &[stage="2"] {
            padding-left: 4px !important;
            padding-right: 4px !important;
        }

        &.no-highlight, &.plain-text-mode {
            background-color: rgba(0, 0, 0, 0);
        }

        &.phrase {
            background-color: $stage1;
            border-top: 1px solid darken($stage1, 8%);
            border-bottom: 1px solid darken($stage1, 8%);
            margin-left: 0 !important;
            margin-right: 0 !important;
            color: $font-color;

            &:hover {
                background-color: rgba($stage1, 0.5);
            }
            
            &[phrasestage="0"] {
                border-color: rgb(90, 90, 90) !important;
                color: $font-color;
            }

            &[phrasestage="0"]:not([stage="2"]) {
                background-color: rgba(0, 0, 0, 0);

                &.highlighted {
                    background-color: $selected-word;
                }
            }

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
                border-color: rgba(0, 0, 0, 0);
            }

            &.highlighted, &:hover, &[phrasestage="0"]:hover {
                background-color: $selected-word;
            }
        }

        &.phrase-start {
            border-left: 1px solid darken($stage1, 8%);
            border-top-left-radius: 6px !important;
            border-bottom-left-radius: 6px !important;
            margin-left: .5px !important;
            padding-left: 4px !important;
        }

        &.phrase-end {
            border-right: 1px solid darken($stage1, 8%);
            border-top-right-radius: 6px !important;
            border-bottom-right-radius: 6px !important;
            margin-right: .5px !important;
            padding-right: 4px !important;
        }

        &[stage="2"] {
            background-color: $new-word;
            margin-left: .5px !important;
            margin-right: .5px !important;

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
            }
        }
        
        &.highlighted, &:hover {
            background-color: $selected-word;
            border-color: $selected-word !important;
        }

        &.plain-text-mode {
            cursor: default !important;
            &:hover {
                color: $font-color !important;
                user-select: text !important;
                cursor: text !important;
                background-color: rgba(0, 0, 0, 0);
            }
        }

    }
}

#finished-box {
    display: block;
    height: calc(100% - 53px);

    #lesson-finished-text {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 25px auto;
        font-size: 20px;
        text-align: center;
    }

    #finished-stats {
        width: 360px;
        margin: auto;
        margin-bottom: 20px;

        td:nth-child(2), th {
            text-align: center;
        }
    }

    #go-to-lessons-button.btn {
        display: block;
        margin: auto;
        width: 160px;
    }

    a {
        display: block;
        margin: 5px auto;
    }
}


@media (max-width: 650px) {
    #glossary .glossary-entry{
        rt {
            font-size: 14px;
        }

        .word {
            font-size: 17px;
        }

        .translation {
            font-size: 15px;
        }
    }
}

@media (min-width: 1201px) {
    #toolbar #back-to-book-button {
        display: none;
    }
}