@import 'variables';

@font-face {
    font-family: notosans;
    src: url('/noto-sans/NotoSansJP-Regular.otf');
}

div#app>nav {
    display: none;
}

#reader-box {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#finish-reading-button {
    margin-top: 10px;
    margin-bottom: 500px;
}

#toolbar {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 60px;
    margin: 0px auto;
    height: 100%;
    padding: 0px;
    border-radius: 8px;
    overflow: hidden;

    #back-to-lessons-button {
        display: inline-block;
        float: left;
    }

    #toolbar-lesson-name {
        display: inline-block; 
        float: left;
        height: 27px;
        line-height: 27px;
        font-size: 17px;
        margin-left: 8px;
        margin-top: 5px;
    }

    .toolbar-button {
        display: block;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        margin: 8px auto;
        outline: none;
        color: rgb(215, 215, 215);
        border-radius: 4px;
        transition: .2s;

        i {
            margin: 0px;
            font-size: 22px;
        }

        &:active, &:focus {
            outline: none;
        }

        &:hover {
            color: rgb(130, 130, 130);
        }

        &.selected {
            color: darken($magenta, 20%);
        }
    }

    #font-size {
        font-size: 17px;
        height: 100%;
    }
}

#settings {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 0px;
    margin: 0px;
    height: 100%;
    transition: .2s;
    overflow: hidden;

    &.visible {
        width: 200px;
        padding-top: 5px;
    }
}

#chapters {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: 0px;
    margin: 0px;
    height: 100%;
    transition: .2s;
    overflow: hidden;
    overflow-y: hidden;
    padding: 0px;
    
    &.visible {
        width: 200px;
        padding-top: 5px;
        overflow-y: auto;
    }

    .chapter {
        display: block;
        height: 30px;
        width: auto;
        line-height: 30px;
        padding-left: 15px;
        margin: 2px 0px;
        font-size: 16px;

        span {
            color: rgb(180, 180, 180);
            cursor: pointer;
            
            &:hover {
                color: rgb(50, 50, 50);
            }
        }

        &.selected span {
            color: $font-color;
            font-weight: bold;
        }
    }

    #course-name {
        font-size: 16px;
        border-bottom: 1px solid rgb(75, 75, 75);
        color: $font-color;
        font-weight: bold;
    }
}

#vocab-box {
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 400px;
    background-color: white;
    border-radius: 6px;
    z-index: 10;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    overflow: hidden;

    .vocab-box-button {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
    }

    .title {
        display: block;
        font-family: "Nunito", sans-serif;
        font-size: 13.5px;
        color: rgb(130, 130, 130);
        float: left;
    }

    .vocab-edit, .show-phrase-reading {
        font-family: "Nunito", sans-serif;
        position: absolute;
        right: 8px;
        top: 8px;
        font-size: 13.5px;
        color: rgb(130, 130, 130);
        float: right;
        user-select: none;
        cursor: pointer;

        &:hover {
            color: rgb(30, 30, 30);
        }

        &.show-phrase-reading {
            right: 60px;
        }
    }

    .vocab-phrase {
        display: block;
        position: relative;
        font-family: notosans;
        width: 100%;
        height: 110px;
        padding: 8px 10px;
        padding-bottom: 0px;
        border-bottom: 1px solid rgb(200, 200, 200);
        overflow: hidden;
        
        .phrase-reading {
            display: block;
            width: 100%;
            height: 80px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .vocab-phrase-box {
            display: block;
            width: 100%;
            height: 75px;
            margin-top: 25px;
            padding: 0px 6px;
            font-size: 18px;

            rt {
                font-size: 14px;
                color: rgb(80, 80, 80);
            }
        }
    }

    .vocab-word {
        position: relative;
        font-family: notosans;
        width: 100%;
        height: 90px;
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: 20px;
        padding: 8px;
        overflow: hidden;
        transition: .3s;

        

        .vocab-word-box {
            display: block;
            width: 100%;
            height: 55px;
            margin-top: 25px;
            text-align: left;
            padding-left: 10px;
        }

        ruby {
            line-height: 55px;

            rt {
                font-size: 14px;
                color: rgb(80, 80, 80);
            }
        }

        #vocab-word-edit {
            display: block;
            width: 380px;
            margin: auto;
            margin-top: 20px;
            font-size: 13px;
            box-sizing: border-box;
            height: 300px;
            
            .vocab-word-edit-line {
                display: block;
                width: 100%;
                overflow: hidden;
            }

            .vocab-word-edit-cell {
                display: inline-block;
                float: left;
            }
            
            .vocab-word-edit-line, .vocab-word-edit-cell {
                box-sizing: border-box;
                text-align: center;
                height: 40px;
                line-height: 40px;
                margin: 0px;
                padding: 0px;
            }

            .vocab-word-edit-line:nth-child(1) .vocab-word-edit-cell, 
            .vocab-word-edit-line:nth-child(1) {
                height: 30px;
                line-height: 30px;
                font-weight: bold;
                text-align: center;
            }

            .vocab-word-edit-cell:nth-child(1){
                width: 70px;
                text-align: right !important;
                padding-right: 20px;
                
            }

            .vocab-word-edit-cell:nth-child(2){
                width: 150px;
            }

            .vocab-word-edit-cell:nth-child(3){
                width: 150px;
                float: right;
            }

            input {
                box-sizing: border-box;
                width: calc(100% - 8px);
                height: 30px;
            }
        }
    }

    .vocab-translation {
        position: relative;
        width: 100%;
        height: 260px;
        border-bottom: 1px solid rgb(200, 200, 200);
        font-size: 16px;
        padding: 8px;
        transition: .3s;

        &.phrase {
            height: 240px;
        }

        .vocab-box-button {
            margin-right: 0px;
        }
        
        ul {
            display: block;
            width: 100%;
            height: 225px;
            overflow-y: auto;
            padding: 5px 0px;
            padding-left: 30px;
            margin-top: 30px;
        }

        #search-box {
            display: block;
            width: 100%;
            margin: auto;
            margin-bottom: 5px;
        }

        textarea {
            display: block;
            width: 100%;
            height: 80px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #vocab-search-results {
            display: block;
            overflow-y: scroll;
            height: 190px;
            margin-bottom: 10px;
            width: 100%;
            
            .vocab-search-result {
                position: relative;
                display: block;
                width: calc(100% - 5px);
                margin: 0px 0px;
                padding-left: 8px;
                height: 36px;
                line-height: 36px;
                // border: 1px solid rgb(230, 230, 230);
                // background: rgb(245, 245, 245);
                border-radius: 6px;
                cursor: pointer;
                user-select: none;
                overflow: hidden;

                div {
                    display: inline-block;
                    float: left;
                    margin-right: 25px;
                    font-size: 16px;
                    
                    &:nth-child(1) {
                        width: 100px;
                        line-height: 44px;
                        overflow: hidden;
                    }
                    
                    &:nth-child(2) {
                        width: 170px;
                        overflow: hidden;
                    }
                }

                .add-result-button {
                    height: 30px;
                    width: 26px;
                    min-width: 26px;
                    margin: 1px 3px;
                    padding: 0px;
                    text-align: center;
                    display: inline-block;
                    float: right;
                    font-size: 16px;
                    opacity: 0;
                    transition: 0s;
                }

                &:hover {
                    background: rgb(245, 245, 245);
                    .add-result-button {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .stage-buttons-box {
        box-sizing: border-box;
        height: 100px;
        padding: 8px;
        overflow: hidden;
        transition: .3s;
    }

    .stage-buttons {
        width: 368px; 
        height: 40px;
        margin: 10px auto;
        margin-top: 30px;
        background-color: rgb(245, 245, 245);
        border-radius: 40px;
        text-align: center;
        overflow: hidden;

        &.hidden-ignore-button {
            width: 328px;
        }

        .stage-button {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            user-select: none;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            margin: 0px;
            
            &:first-child {
                width: 44px;
                padding-left: 5px;
            }

            &:last-child {
                width: 44px;
                padding-right: 5px;
            }

            &:hover {
                background-color: rgb(230, 230, 230);
            }

            &.selected {
                background-color: rgb(220, 220, 220);
            }
        }
    }

    &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    &:after {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: white;
        border-width: 14px;
        margin-left: -14px;
    }
    
    &:before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: rgb(200, 200, 200);
        border-width: 15px;
        margin-left: -15px;
    }

    &.bottom-arrow:after {
        bottom: unset;
        top: 100%;
        border-bottom-color: rgba(0, 0, 0, 0);
        border-top-color: white;
    }
        
    &.bottom-arrow:before {
        bottom: unset;
        top: 100%;
        border-bottom-color: rgba(0, 0, 0, 0);
        border-top-color: rgb(200, 200, 200);
    }
}

#vocab-box.new-phrase {
    .vocab-phrase {
        border-bottom: 0px;
    }

    .show-phrase-reading {
        right: 8px;
    }
}

#vocab-box.editing {
    .vocab-translation, .stage-buttons-box {
        height: 0px;
        padding: 0px;
        margin: 0px;
        border-bottom: 0px;
    }

    .vocab-word, .vocab-phrase {
        height: 450px;
        border-bottom: 0px;
    }

    .vocab-phrase {
        border-bottom: 0px;
    }

    .vocab-word-box {
        text-align: center;
        padding-left: 0px;
    }
}

#vocab-box.translation-edit {
    .vocab-word, .stage-buttons-box {
        height: 0px;
        padding: 0px;
        margin: 0px;
        border-bottom: 0px;
    }

    .vocab-translation {
        border-bottom: 0px;
        height: 450px;
        padding: 10px;
    }
}

button.btn.btn-primary.edit-stage-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0px;
    text-align: center;
    font-size: 17px;
    margin: 0px 1.5px;
    font-weight: bold;

    &.selected, &.selected:focus, &.selected:active {
        background-color: darken($magenta, 10%);
        color: white;
    }

    &:active, &:focus {
        box-shadow: none;
    }
}

#reader.japanese-text {
    writing-mode: vertical-rl;
    text-orientation: upright;

    .word {
        padding: 0px !important;
        width: 22px;
        text-align: center;
    }
}

#reader {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    width: calc(100% - 60px);
    height: 100%;
    line-height: 1.25;
    line-height: 1.3;
    margin: 0px;
    user-select: none;
    overflow-y: auto;
    padding: 10px 10px;
    transition: .2s;

    &.sidebar-opened {
        width: calc(100% - 60px - 200px);
    }

    &.plain-text-mode {
        user-select: text !important;
    }

    .word {
        font-family: notosans;
        display: inline-block;
        cursor: pointer;
        margin: 0px;
        transition: .2s;
        color: black;
        border-radius: 4px;

        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        &.space {
            margin-left: 4px;
        }

        &[stage="-7"] {
            background-color: rgba($green, 0.8);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &[stage="-6"] {
            background-color: rgba($green, 0.75);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &[stage="-5"] {
            background-color: rgba($green, 0.65);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &[stage="-4"] {
            background-color: rgba($green, 0.55);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &[stage="-3"] {
            background-color: rgba($green, 0.4);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &[stage="-2"] {
            background-color: rgba($green, 0.28);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &[stage="-1"] {
            background-color: rgba($green, 0.15);
            margin-left: .5px !important;
            margin-right: .5px !important;
            padding-left: 1.5px !important;
            padding-right: 1.5px !important;
        }

        &.no-highlight, &.plain-text-mode {
            background-color: rgba(0, 0, 0, 0);
        }

        &.phrase {
            border-radius: 0px;
            background-color: rgba($green, 0.8);
            border-top: 1px solid darken($green, 8%);
            border-bottom: 1px solid darken($green, 8%);
            margin-left: 0 !important;
            margin-right: 0 !important;

            &:hover {
                background-color: rgba($green, 0.5);
            }

            &.phrase-start {
                border-left: 1px solid darken($green, 8%);
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                margin-left: .5px !important;
                padding-left: 1.5px !important;
            }

            &.phrase-end {
                border-right: 1px solid darken($green, 8%);
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                margin-right: .5px !important;
                padding-right: 1.5px !important;
            }
            
            &[phrasestage="0"] {
                border-color: rgb(90, 90, 90) !important;
            }

            &[phrasestage="0"]:not([stage="2"]) {
                background-color: rgba(0, 0, 0, 0);

                &.highlighted {
                    background-color: rgba(220, 220, 220, 0.75);
                }
            }

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
                border-color: rgba(0, 0, 0, 0);
            }

            &.highlighted, &:hover, &[phrasestage="0"]:hover {
                background-color: rgba(220, 220, 220, 0.75);
                border-color: rgba(150, 150, 150, 1);
            }
        }

        &[stage="2"] {
            background-color: rgba($purple, 0.42);
            margin-left: .5px !important;
            margin-right: .5px !important;

            &.plain-text-mode, &.no-highlight {
                background-color: rgba(0, 0, 0, 0);
            }
        }
        
        &.highlighted, &:hover {
            background-color: rgba(220, 220, 220, 0.75);
        }

        &.plain-text-mode {
            cursor: default !important;
            &:hover {
                color: $font-color !important;
                user-select: text !important;
                cursor: text !important;
                background-color: rgba(0, 0, 0, 0);
            }
        }

    }
}

#finished-box {
    display: block;
    height: calc(100% - 53px);

    #lesson-finished-text {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 25px auto;
        font-size: 20px;
        text-align: center;
    }

    #finished-stats {
        width: 360px;
        margin: auto;
        margin-bottom: 20px;

        td:nth-child(2), th {
            text-align: center;
        }
    }

    #go-to-lessons-button.btn {
        display: block;
        margin: auto;
        width: 160px;
    }

    a {
        display: block;
        margin: 5px auto;
    }
}