@import 'variables';

@font-face {
    font-family: notosans;
    src: url('/noto-sans/NotoSansJP-Regular.otf');
}

#fullscreen-box {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    overflow-y: visible;
    scroll-behavior: smooth;
    
    &.fullscreen-mode {
        min-height: unset;
        height: 100%;
        overflow-y: auto;

        #reader-box #toolbar {
            max-width: calc(100% - 8px) !important;
        }
    }
}

#reader-box {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px;
    padding-top: 60px;
    overflow-y: visible;
    transition: .2s;

    #finish-reading-button {
        margin-top: 10px;
        margin-bottom: 500px;
    }

    #toolbar {
        position: fixed;
        box-sizing: border-box;
        display: flex;
        margin-top: -60px;
        height: 60px;
        background-color: $background;
        max-width: calc(100% - 256px);
        z-index: 10;

        .toolbar-button-group {
            display: flex;
        }

        .toolbar-button {
            border: none;
            width: 48px;
            height: 48px;
            border-radius: 6px;
        }
    }

    #toolbar-header {
        display: block;
        position: fixed;
        height: 50px;
        line-height: 50px;
        width: 100%;
        color: $font-color;
        font-size: 22px;
        z-index: 10;
        overflow: hidden;

        span {
            float: right;
            margin-right: 120px;
        }
    }

    #glossary, #settings, #chapters {
        position: relative;
        box-sizing: border-box;
        display: none;
        width: calc(100%);
        margin: 0px;
        height: 100%;
        padding: 12px 0px;
        padding-top: 50px;
        
        &.visible {
            display: block;
        }
    }

    #settings {
        .setting {
            display: block;
            width: 100%;
            height: 50px;
            padding-left: 10px;
            
            .setting-label {
                display: inline-block;
                float: left;
                width: 210px;
                height: 50px;
                line-height: 50px;
                font-size: 15px;
            }

            .setting-input {
                display: inline-block;
                float: left;
                width: calc(100% - 210px);
                max-width: 300px;
                height: 50px;
                
                &.switch .v-input{
                    margin-top: 10px;
                }

                &.slider {
                    padding-top: 10px;
                }
            }
        }
    }

    #glossary .glossary-entry {
        position: relative;
        display: block;
        width: 100%;
        box-sizing: border-box;
        min-height: 100px;
        padding: 10px;

        &:nth-child(even) {
            background-color: rgb(232, 232, 232);
        }

        rt {
            font-size: 13px;
            color: lighten($font-color, 20%);
        }

        .glossary-title {
            height: 50px;
        }

        .stage {
            position: relative;
            display: inline-block;
            float: left;
            width: 40px;
            height: 26px;
            line-height: 26px;
            border-radius: 8px;
            margin-top: 12px;
            font-size: 15px;
            font-weight: bold;
            overflow: hidden;
            background-color: $green;
            text-align: center;
            user-select: none;

            &[stage="-7"] {
                background-color: $stage7;
            }

            &[stage="-6"] {
                background-color: $stage6;
            }

            &[stage="-5"] {
                background-color: $stage5;
            }

            &[stage="-4"] {
                background-color: $stage4;
            }

            &[stage="-3"] {
                background-color: $stage3;
            }

            &[stage="-2"] {
                background-color: $stage2;
            }

            &[stage="-1"] {
                background-color: $stage1;
            }

            &[stage="2"] {
                background-color: $new-word;
            }
        }

        .word, .reading {
            display: inline-block;
            float: left;
            border-radius: 4px;
            padding: 1px 5px;
            margin-left: 10px;
            font-size: 15px;
            user-select: none;
            height: 50px;
            line-height: 50px;
            
            div {
                display: inline-block;
            }

            &.word {
                min-width: 60px;
            }

            &.reading {
                color: lighten($font-color, 40%);
            }
        }

        .translation {
            display: block;
            width: 100%;
            font-size: 14px;
            
            ul {
                padding-left: 70px;
            }
        }
    }

    #chapters {
        .chapter-connect-line {
            position: relative;
            display: block;
            width: 10px;
            height: 10px;
            margin: 15px calc(50% - 5px);
            border-radius: 10px;
            background-color: $theme-color;
        }

        .chapter {
            position: relative;
            display: block;
            width: calc(100% - 32px);
            line-height: 30px;
            scroll-margin: 50px;

            .chapter-title {
                font-weight: bold;
                margin-bottom: 5px;

                div {
                    display: inline-block;
                    height: 28px;
                    line-height: 26px;
                    float: right;
                    padding: 1px 5px;
                    background-color: $green;
                    font-weight: normal;
                    border-radius: 4px;
                    font-size: 15px;
                    user-select: none;
                }
            }

            .chapter-read, 
            .chapter-words,
            .chapter-unique-words,
            .chapter-known-words,
            .chapter-highlighted-words,
            .chapter-new-words {
                width: 300px;
                display: block;
                margin-left: 20px;
                margin-top: 1px;
                font-size: 14px;
                height: 22px;
                line-height: 22px;

                span {
                    float: right;
                }
            }

            .chapter-highlighted-words span{
                width: 60px;
                background-color: $highlighted-word;
                border-radius: 4px;
                text-align: center;
            }

            .chapter-new-words {
                margin-top: 2px;
                
                span {
                    width: 60px;
                    background-color: $new-word;
                    border-radius: 4px;
                    text-align: center;
                }
            }

            button {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
    }

    #vocab-box {
        position: absolute;
        background-color: white;
        z-index: 9;
        transition: transform .12s linear !important;
        transform-origin: top;

        .v-tab {
            color: rgba(255, 255, 255, .5);

            &.v-tab--active {
                background-color: rgba(255, 255, 255, .14);
                color: white;
            }
        }

        .v-input__slot {
            min-height: 30px !important
        }

        .v-window.v-item-group {
            transition: .12s;

            .v-window__container {
                transition: .12s;
            }
        }

        &.closed {
            padding: 0px !important;
            transform: scale(1, 0);
        }

        #close-vocab-box-button {
            position: absolute;
            bottom: -18px;
            width: 100px;
            height: 36px;
            right: calc(50% - 50px);
            z-index: 2;
        }

        #word-edit-table table {

            thead tr,
            thead tr th,
            thead tr td {
                height: 26px;
                min-height: 26px;
            }

            thead tr th, tbody tr th, tbody tr td {
                border: none !important;
                text-align: center;
                padding: 0px 4px;
            }

            #selected-word-field {
                font-size: 16px;
            }
        }

        .subheader {
            color: rgba(0, 0, 0, .5);
        }

        #word, #phrase, #reading {
            color: $font-color;
            font-size: 19px;
            
            rt {
                font-size: 11.5px;
            }
        }

        #definitions {
            color: $font-color;
            font-size: 16px;
        }

        #vocab-box-bottom-space {
            display: block;
            width: 100%;
            height: 32px;
        }

        &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        &:after {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: $theme-color;
            border-width: 14px;
            margin-left: -14px;
        }
        
        &:before {
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgb(200, 200, 200);
            border-width: 15px;
            margin-left: -15px;
        }

        #stage-buttons {
            overflow: hidden;

            button.v-btn {
                min-width: 40px;
                min-height: 40px;
                width: 40px;
                height: 40px;
            }
        }

        #search-results {
            display: block;
            width: 100%;
            height: 200px;
            overflow-y: scroll;

            .search-result {
                display: block;
                margin-bottom: 16px;


                .search-result-title {
                    display: block;
                    width: 100%;
                    height: 32 px;
                    line-height: 32px;

                    .dictionary {
                        display: inline-block;
                        float: right;
                    }
                }
                

                .search-result-definition {
                    position: relative;
                    display: block;
                    width: 100%;
                    min-height: 36px;
                    line-height: 36px;
                    user-select: none;
                    cursor: pointer;
                    text-align: right;
                    overflow: hidden;
                    padding-right: 32px;

                    &:hover {
                        background-color: #e0e0e0;
                    }

                    i.v-icon {
                        position: absolute;
                        right: 4px;
                        top: calc(50% - 12px);
                    }
                }

                .search-result-other-forms {
                    width: 100%;
                }

                &.jmdict .search-result-title {
                    background-color: #74e39a;
                }
            }
        }
    }

    #reader.japanese-text {
        writing-mode: vertical-rl;
        text-orientation: upright;

        .word {
            padding: 0px !important;
            width: 22px;
            text-align: center;
        }
    }

    #reader {
        box-sizing: border-box;
        display: block;
        width: 100%;
        line-height: 1.25;
        line-height: 1.3;
        margin: 0px auto;
        user-select: none;
        padding: 8px;
        transition: .2s;
        overflow-x: auto;

        &.plain-text-mode {
            user-select: text !important;
        }

        &.hidden {
            display: none;
        }

        .word {
            font-family: notosans;
            display: inline-block;
            cursor: pointer;
            margin: 1px 0px;
            transition: .2s;
            color: black;
            border-radius: 0px;
            border-top: 1px solid rgba(0, 0, 0, 0);
            border-bottom: 1px solid rgba(0, 0, 0, 0);
            transition: background-color 0s;

            &:not(.phrase):not(.highlighted) {
                border-radius: 6px;
            }

            &.space {
                margin-left: 4px;
            }

            &[stage="-7"] {
                background-color: $stage7;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="-6"] {
                background-color: $stage6;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="-5"] {
                background-color: $stage5;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="-4"] {
                background-color: $stage4;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="-3"] {
                background-color: $stage3;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="-2"] {
                background-color: $stage2;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="-1"] {
                background-color: $stage1;
                margin-left: .5px !important;
                margin-right: .5px !important;
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &[stage="2"] {
                padding-left: 4px !important;
                padding-right: 4px !important;
            }

            &.no-highlight, &.plain-text-mode {
                background-color: rgba(0, 0, 0, 0);
            }

            &.phrase {
                background-color: $stage1;
                border-top: 1px solid darken($stage1, 8%);
                border-bottom: 1px solid darken($stage1, 8%);
                margin-left: 0 !important;
                margin-right: 0 !important;
                color: $font-color;

                &:hover {
                    background-color: rgba($stage1, 0.5);
                }
                
                &[phrasestage="0"] {
                    border-color: rgb(90, 90, 90) !important;
                    color: $font-color;
                }

                &[phrasestage="0"]:not([stage="2"]) {
                    background-color: rgba(0, 0, 0, 0);

                    &.highlighted {
                        background-color: $selected-word;
                    }
                }

                &.plain-text-mode, &.no-highlight {
                    background-color: rgba(0, 0, 0, 0);
                    border-color: rgba(0, 0, 0, 0);
                }

                &.highlighted, &:hover, &[phrasestage="0"]:hover {
                    background-color: $selected-word;
                }
            }

            &.phrase-start {
                border-left: 1px solid darken($stage1, 8%);
                border-top-left-radius: 6px !important;
                border-bottom-left-radius: 6px !important;
                margin-left: .5px !important;
                padding-left: 4px !important;
            }

            &.phrase-end {
                border-right: 1px solid darken($stage1, 8%);
                border-top-right-radius: 6px !important;
                border-bottom-right-radius: 6px !important;
                margin-right: .5px !important;
                padding-right: 4px !important;
            }

            &[stage="2"] {
                background-color: $new-word;
                margin-left: .5px !important;
                margin-right: .5px !important;

                &.plain-text-mode, &.no-highlight {
                    background-color: rgba(0, 0, 0, 0);
                }
            }
            
            &.highlighted, &:hover {
                background-color: $selected-word;
                border-color: $selected-word !important;
            }

            &.plain-text-mode {
                cursor: default !important;
                &:hover {
                    color: $font-color !important;
                    user-select: text !important;
                    cursor: text !important;
                    background-color: rgba(0, 0, 0, 0);
                }
            }

        }
    }
}

#finished-box {
    display: block;
    height: calc(100% - 53px);

    #lesson-finished-text {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 25px auto;
        margin-top: 0px;
        font-size: 20px;
        text-align: center;
    }

    #finished-stats {
        width: 360px;
        margin: auto;
        margin-bottom: 20px;

        td:nth-child(2), th {
            text-align: center;
        }
    }
}


@media (max-width: 1263px) { 
    #reader-box #toolbar {
        max-width: calc(100% - 8px);
    }
}

@media (max-width: 650px) {
    #reader-box {
        #settings {
            .setting {
                height: auto;

                .setting-label {
                    display: block;
                    float: unset;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                }
    
                .setting-input {
                    display: block;
                    float: unset;
                    width: calc(100% - 16px);
                    max-width: 300px;
                    margin-bottom: 20px;
                    
                    &.switch, &.slider {
                        padding-top: 0px;
                    }
                }

                &.switch {
                    height: 50px;
                    margin-bottom: 20px;

                    .setting-label {
                        display: inline-block;
                        float: left;
                        width: 210px;
                        margin-bottom: 0px;
                    }
        
                    .setting-input.switch {
                        display: block;
                        float: unset;
                        width: calc(100% - 210px);
                        margin-bottom: 0px;
                        padding-top: 0px !important;
                    }
                }
            }
        }

        #glossary .glossary-entry{
            .word {
                font-size: 17px;
            }

            .translation {
                font-size: 15px;
            }
        }

        #chapters .chapter {
            .chapter-read, 
            .chapter-words,
            .chapter-unique-words,
            .chapter-known-words,
            .chapter-highlighted-words,
            .chapter-new-words {
                width: calc(100% - 0px);
                margin: 1px auto;
                font-size: 13px;
            }

            .chapter-highlighted-words span{
                width: 50px;
            }

            .chapter-new-words {
                span {
                    width: 50px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #reader-box {
        padding-top: 50px;

        #toolbar {
            height: 50px;
            margin-top: -50px;
        
            .toolbar-button-group .toolbar-button{
                min-width: 42px !important;
                width: 42px !important;
                height: 42px !important;
            }
        }
    }
}

@media (max-width: 400px) {
    #reader-box #vocab-box #stage-buttons {
        overflow: hidden;

        button.v-btn {
            min-width: 38px;
            min-height: 38px;
            width: 38px;
            height: 38px;
        }
    }
}

@media (max-width: 380px) {
    #reader-box #vocab-box #stage-buttons {
        overflow: hidden;

        button.v-btn {
            min-width: 35px;
            min-height: 35px;
            width: 35px;
            height: 35px;
        }
    }
}

@media (max-width: 360px) {
    #reader-box #toolbar .toolbar-button-group.zoom {
        display: none;
    }
}

@media (max-width: 350px) {
    #reader-box #vocab-box #stage-buttons {
        overflow: hidden;

        button.v-btn {
            min-width: 33px;
            min-height: 33px;
            width: 33px;
            height: 33px;
        }
    }
}