$sliderThemeColor: var(--v-primary-base);

@font-face {
    font-family: notosans-jp;
    src: url('/fonts/noto-sans-jp/NotoSansJP-Regular.otf');
}

@font-face {
    font-family: notosans-sc;
    src: url('/fonts/noto-sans-sc/NotoSansSC-Regular.ttf');
}
