@import 'variables';

div.v-list.filter-popup {
    max-width: 200px;
    max-height: 440px;
    
    .v-list-item {
        background-color: white;
    }
}

#vocabulary {
    
    #filters .filter-menu {
        &.show-filters {
            display: none;
        }
    }

    #search-result-info, #small-screen-search-result-info {
        color: rgb(113, 113, 113);
        line-height: 36px;
    }

    #small-screen-search-result-info {
        display: none;
        text-align: right;
    }

    #search-line {
        display: block;
        width: 100%;
        height: 40px;
    }

    #vocabulary-search-field {
        display: block;
        width: 100;
        height: 40px;
        margin-bottom: 10px;
        
        
        .v-input__slot fieldset,
        .v-input__slot {
            background: white;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-right: 0px solid rgba(0, 0, 0, 0) !important;
        }

        button {
            width: 100px;
            float: right;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-left: 0px solid rgba(0, 0, 0, 0) !important;
            height: 40px;
        }
    }

    #vocabulary-list {
        td, th {
            text-align: center;
            overflow: hidden;
        }

        .word, .reading, .word-with-reading {
            width: 220px;

            rt {
                font-size: 10.5px;
                color: rgb(113, 113, 113);
            }
        }

        .stage {
            width: 50px;

            div {
                width: 50px;
                border-radius: 4px;
                height: 26px;
                line-height: 26px;
            }
        }

        .actions {
            width: 60px;
        }

        .word-with-reading {
            display: none;
        }
    }
}

@media (max-width: 950px) {
    #vocabulary {
        #vocabulary-list {
            .word, .reading {
                display: none;
            }

            .word-with-reading {
                display: table-cell;
            }
        }

        #small-screen-search-result-info {
            display: block;
        }

        #filters {
            display: block;
            padding-bottom: 40px;

            .filter-menu {
                display: block;
            }

            &.hidden .filter-menu {
                display: none;
            }

            .filter-menu {
                &.show-filters {
                    display: block;
                    float: left;
                }

                &#search-result-info {
                    display: none;
                }

                &.export{
                    display: block;
                    float: right;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #vocabulary-list {
        .translation {
            display: none;
        }
    }
}