// toolbar
#books #toolbar {
    width: 100%;
    margin: auto;

    .library-large-screen {
        display: block;
    }

    .library-small-screen {
        display: none;
    }
}

// opened book
#books.book-opened {
    #toolbar {
        display: none !important;
    }

    .book.opened .book-box .book-title .book-title-text {
        max-width: calc(100% - 80px);
    }
}

// table layout
#books #book-list.table-layout {
    .book-cover {
        width: 80px;
    }

    .book-actions {
        width: 120px;
    }

    td.book-title {
        font-size: 16px;
    }

    img.cover-image {
        width: 68px;
        height: 97px;
    }
}

// cover only layout
#books {
    max-width: 1200px;
}

#books #book-list.cover-only {
    width: 100%;

    .book {
        width: 181px;
        max-width: 181px;
        height: 258px;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            transform: scale(1.08) !important;
        }

        .book-box {
            .cover-image-box {
                width: 181px;
                height: 258px;

                img.cover-image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// detailed layout
#books {
    .book.detailed {
        max-width: 800px;

        .book-box {
            display: flex;

            .book-title {
                width: 100%;
                height: 60px;
                
                .book-title-text {
                    max-width: calc(100% - 40px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .cover-image-box {
                overflow: hidden;
                width: 181px;
                height: 258px;

                img.cover-image {
                    width: 100%;
                    height: 100%;
                }
            }

            .book-information {
                width: calc(100% - 181px);
            }

            .book-info-not-loaded-box {
                width: calc(100% - 24px);
                height: 142px;
                line-height: 142px;
                font-size: 24px;
                text-align: center;
            }

            .book-info-table {
                width: calc(100% - 24px);
                background-color: transparent;
                text-align: left;
        
                .info-table-value {
                    height: 24px;
                    line-height: 24px;
                    width: 64px;
        
                    &.highlighted-words {
                        background-color: var(--v-highlightedWordLevel1-base);
                        color: var(--v-highlightedWordText-base);
                    }
        
                    &.new-words {
                        background-color: var(--v-newWord-base);
                        color: var(--v-highlightedWordText-base);
                    }
                }
        
                tbody tr,
                tbody tr td {
                    height: 26px !important;
                    line-height: 26px !important;
                    border: none !important;
                }
        
                tbody tr td:nth-child(2) {
                    padding-right: 0px;
                    
                    div {
                        float: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    #books #toolbar {
        width: 100%;
        margin: auto;
    
        .library-large-screen {
            display: none;
        }
    
        .library-small-screen {
            display: block;
        }
    }

    // table leyout
    #books #book-list.table-layout {
        .book-cover {
            display: none;
        }
    }

    // detailed layout
    #books .book.detailed {
        max-width: 400px;

        .book-box {
            flex-wrap: wrap;
        }

        .cover-image-box, 
        .book-information {
            width: 100% !important;
            height: auto !important;
        }

        .cover-image-box img.cover-image {
            width: 100%;
            height: auto !important;
        }

        .book-info-table {
            max-width: 360px;
        }

        td {
            padding-left: 0px;
        }
    }
}

// .book-menu {
//     width: 170px;
// }

// #books {
//     width: 100%;
//     overflow-y: visible;

//     &.book-opened {
//         #toolbar {
//             display: none !important;
//         }

//         .book{
//             height: auto;
//         }
//     }

//     .library-large-screen {
//         display: block;
//     }

//     .library-small-screen {
//         display: none;
//     }

//     &.cover-layout {
//         max-width: 1200px;

//         #toolbar {
//             width: 100%;
//             max-width: 1186px;
//         }

//         &.book-opened #toolbar {
//             max-width: 800px;
//         }
//     }


//     #toolbar {
//         max-width: 800px;
//     }

//     #book-list {
//         display: block;
//         text-align: center;

//     }

//     &:not(.book-opened).cover-layout {
//         margin: auto;
//             width: 1186px;
//             text-align: left;
//     }

//     .book {
//         display: inline-block;
//         width: 800px;
//         height: 260px;
//         overflow: hidden;

//         .book-title {
//             width: 100%;
//             height: 60px;

//             .book-title-text {
//                 height: 36px;
//                 max-width: calc(100% - 40px);
//                 white-space: nowrap;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//             }
//         }

//         &.book-opened .book-title .book-title-text {
//             max-width: calc(100% - 80px);
//         }

//         .book-box {
//             display: flex;
//             flex-wrap: nowrap;
//             justify-content: space-between;
//         }
        
//         &.cover-layout:not(.book-opened) {
//             width: 181px;
//             cursor: pointer;
            
//             &:hover {
//                 transform: scale(1.08) !important;
//             }

//             .book-information {
//                 display: none;
//             }
//         }

//         &.button-box {
//             background-color: transparent;
//             border: none;
//         }
        
//         // default ratio is 320x455px
//         .cover-image-box {
//             overflow: hidden;
//             width: 181px;
//             height: 258px;

//             img.cover-image {
//                 width: 100%;
//                 height: 100%;
//             }
            
//         }

//         .book-information {
//             width: calc(100% - 181px);
//         }
//     }

//     .book .action-button i.v-icon {
//         font-size: 20px;
//     }

//     .book-info-not-loaded-box {
//         width: calc(100% - 24px);
//         height: 142px;
//         line-height: 142px;
//         font-size: 24px;
//         text-align: center;
//     }

//     .book-info-table {
//         width: calc(100% - 24px);
//         background-color: transparent;
//         text-align: left;

//         .info-table-value {
//             height: 24px;
//             line-height: 24px;
//             width: 64px;

//             &.highlighted-words {
//                 background-color: var(--v-highlightedWordLevel1-base);
//                 color: var(--v-highlightedWordText-base);
//             }

//             &.new-words {
//                 background-color: var(--v-newWord-base);
//                 color: var(--v-highlightedWordText-base);
//             }
//         }

//         tbody tr,
//         tbody tr td {
//             height: 26px !important;
//             line-height: 26px !important;
//             border: none !important;
//         }

//         tbody tr td:nth-child(2) {
//             padding-right: 0px;
            
//             div {
//                 float: right;
//             }
//         }
//     }
// }

// // grid
// @media (max-width: 1500px) {
//     #books.cover-layout {
//         #toolbar {
//             max-width: 990px;
//         }

//         #book-list.cover-layout:not(.book-opened) {
//             width: 990px;
//         }
//     }
// }

// @media (max-width: 1290px) {
//     #books.cover-layout {
//         #toolbar {
//             max-width: 790px;
//         }
        
//         #book-list.cover-layout:not(.book-opened) {
//             width: 790px;
//         }
//     }
// }

// @media (max-width: 840px) {
//     #books.cover-layout {
//         #toolbar {
//             max-width: 594px;
//         }
        
//         #book-list.cover-layout:not(.book-opened) {
//             width: 594px;
//         }
//     }
// }

// @media (max-width: 650px) {
//     #books.cover-layout {
//         #toolbar {
//             max-width: 396px;
//         }
        
//         #book-list.cover-layout:not(.book-opened) {
//             width: 396px;
//         }
//     }
// }

// @media (max-width: 450px) {
//     #books.cover-layout {
//         #book-list.cover-layout:not(.book-opened) {
//             width: 181px;
//         }
//     }
// }


// // other media queries
// @media (max-width: 959px) {
//     #books #book-list .book {
//         overflow: hidden;

//         .book-title {
//             font-size: 18px;
//         }

//         .book-info-table td {
//             font-size: 13px;
//         }
//     }
// }

// @media (max-width: 768px) {
//     #books #book-list .book {
//         width: calc(100% - 32px);
//         max-width: 600px;
//         height: auto;

//         .book-box {
//             flex-wrap: wrap;
//         }

//         .book-title {
//             font-size: 18px;
//         }

//         .book-info-table td {
//             font-size: 13px;
//         }
//     }
// }


// @media (max-width: 550px) {
//     #books #book-list .book {
//         max-width: 300px;

//         .book-box {
//             flex-wrap: wrap;
//         }

//         .cover-image-box, 
//         .book-information {
//             width: 100%;
//             height: auto !important;
//         }

//         .cover-image-box img.cover-image {
//             width: 100%;
//             height: auto !important;
//         }

//         .book-info-table {
//             max-width: 360px;
//         }

//         td {
//             padding-left: 0px;
//         }
//     }
// }

// @media (max-width: 450px) {
//     #books .library-large-screen {
//         display: none;
//     }

//     #books .library-small-screen {
//         display: block;
//     }
// }