.book-chapters {
    .highlighted-words {
        background-color: color-mix(in srgb, var(--interactive-text-wordLevel-7-background-color), transparent var(--interactive-text-wordLevel-7-background-transparency));
        color: var(--v-highlightedWordText-base);
        height: 24px;
        line-height: 24px;
        width: 60px;
        text-align: center;
    }

    .new-words {
        background-color: color-mix(in srgb, var(--interactive-text-wordLevel2-background-color), transparent var(--interactive-text-wordLevel2-background-transparency));
        color: var(--v-highlightedWordText-base);
        height: 24px;
        line-height: 24px;
        width: 60px;
        text-align: center
    }

    .chapter-word-count-skeleton,
    .chapter-word-count-skeleton div {
        height: 24px;
    }

    .importing-text {
        color: var(--v-warning-base);
    }
}