.book-chapters {
    .chapter-read {
        border-left: 4px solid var(--v-chapterReadBorder-base);
    }

    .chapter-last-read {
        border-left: 4px solid var(--v-success-base);
        background-color: var(--v-chapterLastReadBackground-base) !important;
    }

    .highlighted-words {
        background-color: var(--v-highlightedWordBackground-base);
        color: var(--v-highlightedWordText-base);
        height: 24px;
        line-height: 24px;
        width: 60px;
        text-align: center;
    }

    .new-words {
        background-color: var(--v-newWordBackground-base);
        color: var(--v-highlightedWordText-base);
        height: 24px;
        line-height: 24px;
        width: 60px;
        text-align: center
    }

    .chapter-word-count-skeleton,
    .chapter-word-count-skeleton div {
        height: 24px;
    }

    .importing-text {
        color: var(--v-warning-base);
    }
}
