@import './../variables';

#edit-book-dialog {
    #image-upload-box {
        height: 142px;

        #image-box {
            width: 100px;

            img {
            }
        }
    }

    #edit-book-upload-image-button {
        user-select: none;
        cursor: pointer;
        text-align: center;
        padding-top: 53px;
        height: 142px;
        width: calc(100% - 116px);
        margin-left: 16px;
        border: 1px dashed var(--v-gray3-base);

        &:hover {
            background-color: var(--v-gray-base);
            border: 1px solid var(--v-gray-base);
        }
    }
}

@media (max-width: 550px) {
    #edit-book-upload-image-button h4{
        font-size: 18px !important;
    }
}

@media (max-width: 420px) {
    #edit-book-upload-image-button h4{
        i {
            display: none;
        }
    }
}