@import './../variables';

#import-dialog {

    .youtube-subtitle-source {
        position: relative;
        min-height: 628px;

        #selected-youtube-subtitle-label {
            height: 36px;
            line-height: 38px;
            margin-bottom: 0px;
        }

        #selected-youtube-subtitle {
            font-size: 16px;
            line-height: 28px;
            background-color: var(--v-gray3-base);
            color: var(--v-text-base)
        }

        #youtube-subtitles {
            .youtube-subtitle {
                line-height: 30px;
                font-size: 16px;
                cursor: pointer;
                user-select: none;
                transition: .2s;
                padding-top: 11px;

                &:hover {
                    background-color: var(--v-gray-base);
                }
            }
        }
    }

    .import-type-group {
        display: flex;
        width: 100%;
    }

    .import-type-button {
        display: block;
        width: 120px;
        height: 120px;
        border: 1px solid var(--v-gray-base);
        user-select: none;
        cursor: pointer;
        color: var(--v-text-base);
        transition: .1s;
        overflow: hidden;

        .import-type-button-icon-box {
            width: 100%;
            height: 90px;
            text-align: center;
            
            i {
                display: block;
                font-size: 64px !important;
            }
        }
        
        span {
            height: 28px !important;
            line-height: 28px;
            display: block;
            text-align: center;
            background-color: var(--v-gray-base);
        }
        
        &:hover {
            background-color: var(--v-gray-base);
        }

        &:active span,
        &:active {
            background-color: var(--v-gray3-base);
        }
    }

    .library-location-skeleton-loader {
        .v-skeleton-loader {
            display: inline-block;
        }

        .v-skeleton-loader:nth-child(1) .v-skeleton-loader__image,
        .v-skeleton-loader:nth-child(1) .v-skeleton-loader__card,
        .v-skeleton-loader:nth-child(1) {
            width: 24px;
            height: 24px;
        }

        .v-skeleton-loader:nth-child(2) .v-skeleton-loader__image,
        .v-skeleton-loader:nth-child(2) .v-skeleton-loader__card,
        .v-skeleton-loader:nth-child(2) {
            width: 126px;
            height: 24px;
        }

        &.longer {
            .v-skeleton-loader:nth-child(2) .v-skeleton-loader__image,
            .v-skeleton-loader:nth-child(2) .v-skeleton-loader__card,
            .v-skeleton-loader:nth-child(2) {
                width: 136px;
            }
        }
    }
}

@media (max-width: 500px) {
    .v-stepper__content {
        padding: 0px !important;
    }
}