@font-face {
  font-family: "KanjiStrokeOrder";
  src: url("/KanjiStrokeOrder.ttf");
}
.page {
  display: block;
  width: 100%;
}
.page .row {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.page .row .meaning {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.page .row .character {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-left: 10px;
  text-align: center;
  font-size: 40px;
  border: 1px solid #aaaaaa;
  background-size: 25px 25px;
  background-image: linear-gradient(to right, #e1e1e1 1px, transparent 1px), linear-gradient(to bottom, #e1e1e1 1px, transparent 1px);
}
.page .row .character.stroke-order {
  font-family: KanjiStrokeOrder;
  font-size: 90px;
}
.page .row .character:nth-child(3), .page .row .character:nth-child(4), .page .row .character:nth-child(5), .page .row .character:nth-child(6), .page .row .character:nth-child(7), .page .row .character:nth-child(8), .page .row .character:nth-child(9) {
  display: none;
}

@media print {
  html, body {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
  }

  .page {
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    page-break-after: always;
    border: 1px solid gray;
  }
  .page .row {
    width: 100%;
    height: 20mm;
    margin-bottom: 5mm;
  }
  .page .row .meaning {
    width: 40mm;
    height: 20mm;
    font-size: 22px;
  }
  .page .row .character {
    width: 20mm;
    height: 20mm;
    line-height: 22mm;
    margin-left: 2mm;
    background-size: 5mm 5mm;
    font-size: 60px;
    background-image: linear-gradient(to right, #e1e1e1 0.5mm, transparent 0.5mm), linear-gradient(to bottom, #e1e1e1 0.5mm, transparent 0.5mm) !important;
    -webkit-print-color-adjust: exact;
  }
  .page .row .character.stroke-order {
    font-family: KanjiStrokeOrder;
    font-size: 75px;
  }
}
