@font-face {
  font-family: notosans;
  src: url("/noto-sans/NotoSansJP-Regular.otf");
}
@font-face {
  font-family: notosans;
  src: url("/noto-sans/NotoSansJP-Regular.otf");
}
div#app > nav {
  display: none;
}

#reader-box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#finish-reading-button {
  margin-top: 10px;
  margin-bottom: 500px;
}

#toolbar {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 60px;
  margin: 0px auto;
  height: 100%;
  padding: 0px;
  border-radius: 8px;
  overflow: hidden;
}
#toolbar #back-to-lessons-button {
  display: inline-block;
  float: left;
}
#toolbar #toolbar-lesson-name {
  display: inline-block;
  float: left;
  height: 27px;
  line-height: 27px;
  font-size: 17px;
  margin-left: 8px;
  margin-top: 5px;
}
#toolbar .toolbar-button {
  display: block;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  margin: 8px auto;
  outline: none;
  color: #d7d7d7;
  border-radius: 4px;
  transition: 0.2s;
}
#toolbar .toolbar-button i {
  margin: 0px;
  font-size: 22px;
}
#toolbar .toolbar-button:active, #toolbar .toolbar-button:focus {
  outline: none;
}
#toolbar .toolbar-button:hover {
  color: #828282;
}
#toolbar .toolbar-button.selected {
  color: #595959;
}
#toolbar #font-size {
  font-size: 17px;
  height: 100%;
}

#settings {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 0px;
  margin: 0px;
  height: 100%;
  transition: 0.2s;
  overflow: hidden;
}
#settings.visible {
  width: 200px;
  padding-top: 5px;
}

#chapters {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 0px;
  margin: 0px;
  height: 100%;
  transition: 0.2s;
  overflow: hidden;
  overflow-y: hidden;
  padding: 0px;
}
#chapters.visible {
  width: 200px;
  padding-top: 5px;
  overflow-y: auto;
}
#chapters .chapter {
  display: block;
  height: 30px;
  width: auto;
  line-height: 30px;
  padding-left: 15px;
  margin: 2px 0px;
  font-size: 16px;
}
#chapters .chapter span {
  color: #b4b4b4;
  cursor: pointer;
}
#chapters .chapter span:hover {
  color: #323232;
}
#chapters .chapter.selected span {
  color: #191919;
  font-weight: bold;
}
#chapters #course-name {
  font-size: 16px;
  border-bottom: 1px solid #4b4b4b;
  color: #191919;
  font-weight: bold;
}

#floating-vocab-box {
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 320px;
  background-color: white;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  z-index: 10;
}
#floating-vocab-box #show-sidebar-vocab-box-button {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  right: 4px;
  top: 4px;
  font-size: 12px;
  line-height: 24px;
  padding-left: 3px;
}
#floating-vocab-box .vocab-box-line {
  box-sizing: border-box;
  width: 100%;
  height: 23px;
  line-height: 23px;
  padding-top: 5px;
}
#floating-vocab-box .vocab-box-line.phrase {
  text-align: center;
}
#floating-vocab-box .vocab-box-line div:nth-child(1) {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 50%;
  padding-right: 5px;
  text-align: right;
}
#floating-vocab-box .vocab-box-line div:nth-child(2) {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 5px;
  text-align: left;
}
#floating-vocab-box .vocab-box-translation {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  line-height: 23px;
  padding: 5px;
  text-align: center;
}
#floating-vocab-box:after, #floating-vocab-box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#floating-vocab-box:after {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: -10px;
}
#floating-vocab-box:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: black;
  border-width: 11px;
  margin-left: -11px;
}
#floating-vocab-box.bottom-arrow:after {
  bottom: unset;
  top: 100%;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-top-color: white;
}
#floating-vocab-box.bottom-arrow:before {
  bottom: unset;
  top: 100%;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-top-color: black;
}

#search-box, #phrase-search-box {
  display: block;
  width: 100%;
  height: calc(100% - 292px);
  margin-top: 10px;
  font-size: 15px;
}
#search-box#phrase-search-box, #phrase-search-box#phrase-search-box {
  height: calc(100% - 515px);
}
#search-box #show-all-translations, #phrase-search-box #show-all-translations {
  display: block;
  font-size: 15.5px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: rgba(25, 25, 25, 0.6);
  transition: 0.2s;
}
#search-box #show-all-translations:hover, #phrase-search-box #show-all-translations:hover {
  color: #191919;
}
#search-box #translations, #phrase-search-box #translations {
  height: calc(100% - 90px);
  overflow-y: hidden;
}
#search-box #translations.show-all, #phrase-search-box #translations.show-all {
  height: calc(100% - 150px);
  padding-right: 8px;
  overflow-y: scroll;
}
#search-box#phrase-search-box #translations, #phrase-search-box#phrase-search-box #translations {
  height: calc(100% - 90px);
}
#search-box input, #phrase-search-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 28px;
  margin-bottom: 10px;
}
#search-box .vocab-translation, #phrase-search-box .vocab-translation {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  padding: 4px 5px;
  margin: 7px 0px;
  background-color: #efefef;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s;
}
#search-box .vocab-translation:hover, #phrase-search-box .vocab-translation:hover {
  background-color: #d7d7d7;
}
#search-box .vocab-translation .target-language, #phrase-search-box .vocab-translation .target-language {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 100px;
  line-height: 28px;
  font-size: 14.5px;
  font-weight: normal;
  overflow: hidden;
}
#search-box .vocab-translation .own-language, #phrase-search-box .vocab-translation .own-language {
  box-sizing: border-box;
  display: block;
  float: left;
  width: calc(100% - 102px);
  line-height: 28px;
  font-size: 14.5px;
  font-weight: normal;
  padding-left: 5px;
}

#phrase-box {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 400px;
  height: 100%;
  overflow: hidden;
  padding: 8px;
  font-size: 15px;
}
#phrase-box #close-vocab-box-button {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0px;
  top: 8px;
  left: 8px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
  display: none;
}
#phrase-box #save-phrase-button, #phrase-box #delete-phrase-button {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin-left: 40px;
  margin-top: 0px;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  background-color: white;
  color: black;
  border-color: black;
}
#phrase-box #save-phrase-button:hover, #phrase-box #save-phrase-button:focus, #phrase-box #save-phrase-button:active, #phrase-box #delete-phrase-button:hover, #phrase-box #delete-phrase-button:focus, #phrase-box #delete-phrase-button:active {
  background-color: white;
  color: black;
  border-color: black;
}
#phrase-box .phrase-box-line, #phrase-box .phrase-box-title {
  display: block;
  float: none;
}
#phrase-box .phrase-box-line.phrase {
  height: 110px;
  overflow-y: scroll;
  border: 1px solid #767676;
}
#phrase-box .phrase-box-title {
  display: block;
  font-weight: bold;
  margin-top: 30px;
}
#phrase-box .phrase-box-title:not(.first) {
  margin-top: 10px;
}
#phrase-box textarea.phrase-input {
  display: block;
  width: 100%;
  height: 110px;
  resize: none;
}
#phrase-box button {
  margin-top: 10px;
}

#vocab-box {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 400px;
  height: 100%;
  overflow: hidden;
  padding: 8px;
  padding-top: 40px;
  font-size: 15px;
}
#vocab-box #close-vocab-box-button {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0px;
  top: 8px;
  left: 8px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
  display: none;
}
#vocab-box #vocab-read-count {
  position: absolute;
  width: 70px;
  right: 10px;
  top: 10px;
  text-align: right;
}
#vocab-box #vocab-lookup-count {
  position: absolute;
  width: 70px;
  right: 80px;
  top: 10px;
  text-align: right;
}
#vocab-box #vocab-last-level-up {
  position: absolute;
  width: 140px;
  right: 150px;
  top: 10px;
  text-align: right;
}
#vocab-box .vocab-box-line {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 28px;
}
#vocab-box .vocab-box-line input, #vocab-box .vocab-box-line .vocab-box-line-value {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 240px;
  height: 28px;
}
#vocab-box .vocab-box-line.translation {
  height: 135px;
}
#vocab-box .vocab-box-line.translation textarea {
  display: block;
  width: 100%;
  height: 90px;
  resize: none;
}
#vocab-box #vocab-box-word-last-level-up {
  position: absolute;
  top: 210px;
  left: calc(50% - 56px);
}
#vocab-box #vocab-box-word-read-count {
  position: absolute;
  top: 10px;
  left: 10px;
}
#vocab-box #vocab-box-word-lookup-count {
  position: absolute;
  top: 10px;
  right: 10px;
}
#vocab-box #vocab-box-word-last-level-up,
#vocab-box #vocab-box-word-read-count,
#vocab-box #vocab-box-word-lookup-count {
  top: 10px;
  height: 25px;
  line-height: 19px;
  padding: 0px;
  font-size: 14px;
  text-align: right;
  padding-right: 32px;
}
#vocab-box #vocab-box-word-last-level-up i,
#vocab-box #vocab-box-word-read-count i,
#vocab-box #vocab-box-word-lookup-count i {
  position: absolute;
  right: 5px;
  font-size: 18px;
  margin-left: 4px;
  vertical-align: top;
}

button.btn.btn-primary.edit-stage-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0px;
  text-align: center;
  font-size: 17px;
  margin: 0px 1.5px;
  font-weight: bold;
}
button.btn.btn-primary.edit-stage-button.selected, button.btn.btn-primary.edit-stage-button.selected:focus, button.btn.btn-primary.edit-stage-button.selected:active {
  background-color: #737373;
  color: white;
}
button.btn.btn-primary.edit-stage-button:active, button.btn.btn-primary.edit-stage-button:focus {
  box-shadow: none;
}

#reader.japanese-text {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
          text-orientation: upright;
}
#reader.japanese-text .word {
  padding: 0px !important;
  width: 22px;
  text-align: center;
}

#reader {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 60px);
  height: 100%;
  line-height: 1.25;
  line-height: 1.3;
  margin: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: auto;
  padding: 10px;
  transition: 0.2s;
}
#reader.sidebar-opened {
  width: calc(100% - 60px - 200px);
}
#reader.sidebar-vocab-box {
  width: calc(100% - 60px - 400px);
}
#reader.sidebar-vocab-box.sidebar-opened {
  width: calc(100% - 60px - 400px - 200px);
}
#reader.plain-text-mode {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
}
#reader .word {
  font-family: notosans;
  display: inline-block;
  cursor: pointer;
  margin: 0px;
  transition: 0.2s;
  color: black;
  border-radius: 4px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
#reader .word.space {
  margin-left: 4px;
}
#reader .word[stage="-7"] {
  background-color: rgba(52, 232, 127, 0.8);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word[stage="-6"] {
  background-color: rgba(52, 232, 127, 0.75);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word[stage="-5"] {
  background-color: rgba(52, 232, 127, 0.65);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word[stage="-4"] {
  background-color: rgba(52, 232, 127, 0.55);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word[stage="-3"] {
  background-color: rgba(52, 232, 127, 0.4);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word[stage="-2"] {
  background-color: rgba(52, 232, 127, 0.28);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word[stage="-1"] {
  background-color: rgba(52, 232, 127, 0.15);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
  padding-left: 1.5px !important;
  padding-right: 1.5px !important;
}
#reader .word.no-highlight, #reader .word.plain-text-mode {
  background-color: rgba(0, 0, 0, 0);
}
#reader .word.phrase {
  border-radius: 0px;
  background-color: rgba(52, 232, 127, 0.8);
  border-top: 1px solid #19da69;
  border-bottom: 1px solid #19da69;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#reader .word.phrase:hover {
  background-color: rgba(52, 232, 127, 0.5);
}
#reader .word.phrase.phrase-start {
  border-left: 1px solid #19da69;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0.5px !important;
  padding-left: 1.5px !important;
}
#reader .word.phrase.phrase-end {
  border-right: 1px solid #19da69;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 0.5px !important;
  padding-right: 1.5px !important;
}
#reader .word.phrase[phrasestage="0"] {
  border-color: #5a5a5a !important;
}
#reader .word.phrase[phrasestage="0"]:not([stage="2"]) {
  background-color: rgba(0, 0, 0, 0);
}
#reader .word.phrase[phrasestage="0"]:not([stage="2"]).highlighted {
  background-color: rgba(220, 220, 220, 0.75);
}
#reader .word.phrase.plain-text-mode, #reader .word.phrase.no-highlight {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
#reader .word.phrase.highlighted, #reader .word.phrase:hover, #reader .word.phrase[phrasestage="0"]:hover {
  background-color: rgba(220, 220, 220, 0.75);
  border-color: #969696;
}
#reader .word[stage="2"] {
  background-color: rgba(247, 198, 0, 0.42);
  margin-left: 0.5px !important;
  margin-right: 0.5px !important;
}
#reader .word[stage="2"].plain-text-mode, #reader .word[stage="2"].no-highlight {
  background-color: rgba(0, 0, 0, 0);
}
#reader .word.highlighted, #reader .word:hover {
  background-color: rgba(220, 220, 220, 0.75);
}
#reader .word.plain-text-mode {
  cursor: default !important;
}
#reader .word.plain-text-mode:hover {
  color: #191919 !important;
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
  cursor: text !important;
  background-color: rgba(0, 0, 0, 0);
}
#reader #vocab-edit-box {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 600px;
  height: 600px;
  left: calc(50% - 300px);
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  z-index: 10;
  padding: 10px;
}
#reader #vocab-edit-box .vocab-edit-box-label {
  display: inline-block;
  float: left;
  width: 140px;
  line-height: 30px;
}
#reader #vocab-edit-box .vocab-edit-box-input {
  display: inline-block;
  float: left;
  width: calc(100% - 140px);
}
#reader #vocab-edit-box .vocab-edit-box-input input {
  display: block;
  width: 100%;
  margin: 5px auto;
}
#reader #vocab-edit-box #vocab-edit-cancel-button {
  display: inline-block;
  float: left;
  margin: auto;
  width: 75px;
  margin-right: 10px;
  margin-left: 165px;
  margin-top: 6px;
}
#reader #vocab-edit-box #vocab-edit-save-button {
  width: 150px;
  margin-top: 6px;
}
#reader #vocab-edit-box #vocab-edit-jisho-results {
  display: block;
  width: 100%;
  border: 1px solid black;
  height: calc(100% - 214px);
  margin-bottom: 5px;
  overflow-y: scroll;
}
#reader #vocab-edit-box .vocab-jisho-definition {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #b4b4b4;
  padding: 0px 3px;
  cursor: pointer;
}
#reader #vocab-edit-box .vocab-jisho-definition .vocab-jisho-definition-japanese {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: 150px;
}
#reader #vocab-edit-box .vocab-jisho-definition .vocab-jisho-definition-english {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  width: calc(100% - 150px);
  overflow: hidden;
}

#finished-box {
  display: block;
  height: calc(100% - 53px);
}
#finished-box #lesson-finished-text {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 25px auto;
  font-size: 20px;
  text-align: center;
}
#finished-box #finished-stats {
  width: 360px;
  margin: auto;
  margin-bottom: 20px;
}
#finished-box #finished-stats td:nth-child(2), #finished-box #finished-stats th {
  text-align: center;
}
#finished-box #go-to-lessons-button.btn {
  display: block;
  margin: auto;
  width: 160px;
}
#finished-box a {
  display: block;
  margin: 5px auto;
}
