.language-selection-dialog {
    width: 853px;

    #language-buttons {
        button.v-btn.language-button {
            position: relative;
            width: 260px;
            height: 56px;
            
            .v-btn__content {
                width: 260px;
                height: 56px;

                span {
                    position: absolute;
                    left: 120px;
                }

                .v-image.v-responsive {
                    position: absolute;
                    left: 40px;
                }
            }
        }
    }
}

@media (max-width: 910px) {
    .language-selection-dialog {
        width: 600px;
    }
}

@media (max-width: 645px) {
    .language-selection-dialog {
        width: unset;
        max-width: 635px;

        #language-buttons {
            justify-content: center;

            button.v-btn.language-button {
                width: 100%;
                max-width: 500px;
                
                .v-btn__content {
                    width: 100%;
                    max-width: 500px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .language-selection-dialog {
        #language-buttons {
            button.v-btn.language-button {
                .v-btn__content {
                    span {
                        position: absolute;
                        left: 80px;
                    }
    
                    .v-image.v-responsive {
                        position: absolute;
                        left: 16px;
                    }
                }
            }
        }
    }
}