#kanji-list {
    min-height: 100%;
    padding-bottom: 50px;
    overflow: hidden;

    .kanji-list-toolbar-button {
        margin-top: 6px;
        margin-right: 6px;
    }

    .subheader {
        width: 100%;
        color: rgba(0, 0, 0, .8)
    }

    .skeleton-title {
        width: 200px;
        height: 28px;
        border-radius: 12px;
    }

    .skeleton-button {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 4px;
        border-radius: 8px;
        overflow: hidden;
    }

    .kanji {
        width: 40px;
        min-width: 40px;
        height: 40px;
        line-height: 40px;
        margin: 4px;
        font-size: 20px;
        user-select: none;
        border-radius: 8px;
        text-align: center;
        cursor: pointer; 
        color: var(--v-text-base);
        
        * {
            font-family: notosans-jp !important;
        }

        &:not(.learned) {
            color: var(--v-gray-base);
        }
    }
}   