#admin-review-settings {
    td:nth-child(1) {
        width: 100px;
    }
}

@media (max-width: 440px) {
    #admin-review-settings {
        td:nth-child(1) {
            width: 80px;
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}