#vocabulary-export-dialog {
    .select-all-switch-small {
        display: none;
    }

    .vocabulary-export-switch {
        width: 33%;
    }

    #vocabulary-export-sample-table {
        box-sizing: border-box;
        width: 100%;
        overflow-x: auto;
    }
}

@media (max-width: 920px) {
    #vocabulary-export-dialog {
        .vocabulary-export-switch {
            width: 50%;
        }
    }
}

@media (max-width: 500px) {
    #vocabulary-export-dialog {
        .vocabulary-export-switch {
            width: 100%;
        }
    }
}


@media (max-width: 420px) {
    #vocabulary-export-dialog {
        .select-all-switch {
            display: none;
        }

        .select-all-switch-small {
            display: block;
        }
    }
}